# .bashrc
# {{ ansible_managed }}

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# User specific aliases and functions

export EDITOR=vim
alias vi="vim"

alias ft="find /var/spool/voipmonitor/`date +%F` -name "

HISTTIMEFORMAT="%d/%m/%y %T "

{% if staging is defined and staging %}
export PS1='\[\033[00;32m\]\u\[\033[01m\]@\[\033[00;34m\]\h\[\033[01m\]:\[\033[00;35m\]\w\[\033[00m\]\[\033[01;30m\](`git branch 2>/dev/null|grep -e ^* |tr -d \*\ `)\[\033[00m\]\$ '
{% else %}
export PS1='\[\033[00;32m\]\u\[\033[01m\]@\[\033[00;31m\]\H\[\033[01m\]:\[\033[00;35m\]\w\[\033[00m\]\[\033[01;30m\](`git branch 2>/dev/null|grep -e ^* |tr -d \*\ `)\[\033[00m\]\$ '
{% endif %}
