-- DYL DID Group Table

CREATE TABLE IF NOT EXISTS `did_group` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `did` varchar(20) NOT NULL,
  `group_id` bigint NOT NULL,
  UNIQUE INDEX did_1 (`did`),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

-- DYL DID SMS Routing Table

CREATE TABLE `did_sms` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `did` varchar(20) NOT NULL,
  `sms_host` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `did_1` (`did`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

-- Kamailio Required Tables

DROP TABLE IF EXISTS `address`;
CREATE TABLE `address` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `grp` int(11) unsigned NOT NULL DEFAULT '1',
  `ip_addr` varchar(50) NOT NULL,
  `mask` int(11) NOT NULL DEFAULT '32',
  `port` smallint(5) unsigned NOT NULL DEFAULT '0',
  `tag` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

DROP TABLE IF EXISTS `dispatcher`;
CREATE TABLE `dispatcher` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `setid` int(11) NOT NULL DEFAULT '0',
  `destination` varchar(192) NOT NULL DEFAULT '',
  `flags` int(11) NOT NULL DEFAULT '0',
  `priority` int(11) NOT NULL DEFAULT '0',
  `attrs` varchar(128) NOT NULL DEFAULT '',
  `description` varchar(64) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

DROP TABLE IF EXISTS `trusted`;
CREATE TABLE `trusted` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `src_ip` varchar(50) NOT NULL,
  `proto` varchar(4) NOT NULL,
  `from_pattern` varchar(64) DEFAULT NULL,
  `tag` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `peer_idx` (`src_ip`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

DROP TABLE IF EXISTS `version`;
CREATE TABLE `version` (
  `table_name` varchar(32) NOT NULL,
  `table_version` int(10) unsigned NOT NULL DEFAULT '0',
  UNIQUE KEY `table_name_idx` (`table_name`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;

-- Data

INSERT INTO `version` VALUES ('dispatcher',4),('trusted',5),('address',6);

{% if inb_trusted %}
{% for item in inb_trusted %}
INSERT INTO `trusted` VALUES (NULL,'{{ item }}','any',NULL,NULL);
{% endfor %}
{% endif %}

{% if inb_dispatch %}
{% for item in inb_dispatch %}
INSERT INTO `dispatcher` VALUES (NULL,{{ item['group'] }},'{{ item['sipurl'] }}',0,0,'','{{ item['name'] }}');
{% endfor %}
{% endif %}

