alias_database = hash:/etc/aliases
alias_maps = hash:/etc/aliases
allow_percent_hack = yes
broken_sasl_auth_clients = yes
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix
debug_peer_level = 2
debugger_command =
   PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
   ddd $daemon_directory/$process_name $process_id & sleep 5
header_checks = regexp:/etc/postfix/header_checks
home_mailbox = Maildir/
html_directory = no
inet_interfaces = all
inet_protocols = all
mail_owner = postfix
mailbox_command = /usr/bin/procmail-wrapper -o -a $DOMAIN -d $LOGNAME
mailbox_size_limit = 0
mailq_path = /usr/bin/mailq.postfix
manpage_directory = /usr/share/man
mime_header_checks = regexp:/etc/postfix/header_checks
mynetworks_style = subnet
{% if prod == false %}
mydestination = $myhostname, $mydomain, localhost.localdomain, localhost, pcre:/etc/postfix/mydestination
{% endif %}
{% if prod == true %}
mydestination = {{ansible_fqdn}}, localhost.localdomain, localhost, 69.175.64.151/32, 99.198.109.162/32, 65.60.54.162/32, 184.154.180.242/32, 108.178.33.138/32
{% endif %}
local_header_rewrite_clients = static:all
unknown_local_recipient_reject_code = 550
{% if prod == false %}
mynetworks = {{ ' '.join(postfix_networks) }} dyl.com
{% endif %}
{% if prod == true %}
mynetworks = {{ ' '.join(postfix_networks_prod) }} dyl.com
{% endif %}
mydomain = {{ zone }}
myhostname = {{ ansible_fqdn }}
myorigin = $mydomain
newaliases_path = /usr/bin/newaliases.postfix
queue_directory = /var/spool/postfix
readme_directory = /usr/share/doc/postfix-2.11.0/README_FILES
sample_directory = /usr/share/doc/postfix-2.11.0/samples
sender_bcc_maps = hash:/etc/postfix/bcc
sender_dependent_default_transport_maps = hash:/etc/postfix/dependent
sendmail_path = /usr/sbin/sendmail.postfix
setgid_group = postdrop
smtp_sasl_auth_enable = yes
smtp_sasl_security_options = noanonymous
smtp_tls_CAfile = /etc/ssl/certs/ca-bundle.pem
smtp_tls_CApath = /etc/ssl/certs
smtp_tls_cert_file = /etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem
smtp_tls_ciphers = high
smtp_tls_exclude_ciphers=aNULL:eNULL:LOW:MD5:MEDIUM:EXP:PSK:DSS:3DES:RC4:SEED:ECDSA:CAMELLIA256-SHA:CAMELLIA128-SHA:DHE-RSA-CAMELLIA128-SHA:ADH-CAMELLIA128-SHA:DHE-RSA-CAMELLIA256-SHA:PSK-AES256-CBC-SHA:PSK-AES128-CBC-SHA:ECDHE-RSA-DES-CBC3-SHA:ECDHE-ECDSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:EDH-DSS-DES-CBC3-SHA:DH-RSA-DES-CBC3-SHA:DH-DSS-DES-CBC3-SHA:ECDH-RSA-DES-CBC3-SHA:ECDH-ECDSA-DES-CBC3-SHA:DES-CBC3-SHA:IDEA-CBC-SHA:PSK-3DES-EDE-CBC-SHA:KRB5-IDEA-CBC-SHA:KRB5-DES-CBC3-SHA:KRB5-IDEA-CBC-MD5:KRB5-DES-CBC3-MD5
smtp_tls_key_file = /etc/letsencrypt/live/{{ ansible_fqdn }}/{{ansible_fqdn}}.key
smtp_tls_loglevel = 1
smtp_tls_mandatory_ciphers = high
smtp_tls_mandatory_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1
smtp_tls_note_starttls_offer = yes
smtp_tls_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1
smtp_tls_security_level = may
smtpd_tls_cert_file=/etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem
smtpd_tls_key_file=/etc/letsencrypt/live/{{ ansible_fqdn }}/{{ansible_fqdn}}.key
smtpd_use_tls=yes
smtpd_banner = $myhostname ESMTP $mail_name ($mail_version)
smtpd_client_restrictions = warn_if_reject permit_mynetworks,reject_unknown_client,permit
smtpd_helo_required = yes
smtpd_recipient_restrictions = permit_mynetworks
                               permit_sasl_authenticated
                               reject_unauth_destination
                               reject_unauth_pipelining
                               permit_dnswl_client wl-ip.rbl.scrolloutf1.com=127.2.100.2
                               permit_rhswl_client wl-domain.rbl.scrolloutf1.com=127.1.100.2
                               reject_rhsbl_helo bl-domain.rbl.scrolloutf1.com=127.1.0.2
                               reject_rhsbl_reverse_client bl-domain.rbl.scrolloutf1.com=127.1.0.2
                               reject_rhsbl_sender UnsafeSenders.rbl.scrolloutf1.com=127.1.0.2
                               reject_rbl_client zen.spamhaus.org,
                               reject_rbl_client bl.spamcannibal.org,
                               check_policy_service unix:postgrey/socket,
                               permit
postscreen_dnsbl_sites = bl-ip.rbl.scrolloutf1.com*2
                         wl-ip.rbl.scrolloutf1.com*-2
smtpd_relay_restrictions = permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination
smtpd_sasl_auth_enable = yes
smtpd_sasl_local_domain = $myhostname
smtpd_sasl_path = private/auth
smtpd_sasl_security_options = noanonymous
smtpd_sasl_tls_security_options=noanonymous
smtpd_tls_security_level = may
soft_bounce = yes
smtpd_sasl_type = dovecot
unknown_local_recipient_reject_code = 550
smtpd_sender_login_maps = regexp:/etc/postfix/login_maps.regexp
smtpd_sender_restrictions = reject_non_fqdn_hostname permit
smtpd_tls_auth_only = no
smtpd_tls_loglevel = 1
smtpd_use_tls = yes 
smtp_tls_note_starttls_offer = yes 
smtpd_tls_session_cache_timeout = 3600s
smtpd_tls_CAfile = /etc/ssl/certs/ca-bundle.pem
smtpd_tls_CApath = /etc/ssl/certs
smtpd_tls_cert_file = /etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem
smtpd_tls_dh1024_param_file = /etc/ssl/{{ansible_fqdn}}/dhparams.pem
smtpd_tls_eecdh_grade=ultra
smtpd_tls_exclude_ciphers=aNULL:eNULL:LOW:MD5:MEDIUM:EXP:PSK:DSS:3DES:RC4:SEED:ECDSA:CAMELLIA256-SHA:CAMELLIA128-SHA:DHE-RSA-CAMELLIA128-SHA:ADH-CAMELLIA128-SHA:DHE-RSA-CAMELLIA256-SHA:PSK-AES256-CBC-SHA:PSK-AES128-CBC-SHA:ECDHE-RSA-DES-CBC3-SHA:ECDHE-ECDSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:EDH-DSS-DES-CBC3-SHA:DH-RSA-DES-CBC3-SHA:DH-DSS-DES-CBC3-SHA:ECDH-RSA-DES-CBC3-SHA:ECDH-ECDSA-DES-CBC3-SHA:DES-CBC3-SHA:IDEA-CBC-SHA:PSK-3DES-EDE-CBC-SHA:KRB5-IDEA-CBC-SHA:KRB5-DES-CBC3-SHA:KRB5-IDEA-CBC-MD5:KRB5-DES-CBC3-MD5
smtpd_tls_key_file = /etc/letsencrypt/live/{{ ansible_fqdn }}/{{ansible_fqdn}}.key
smtpd_tls_mandatory_ciphers=high
smtpd_tls_mandatory_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1
smtpd_tls_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1
smtpd_tls_mandatory_exclude_ciphers = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1 
smtpd_tls_mandatory_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1
tls_high_cipherlist=TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:EECDH+aRSA+AESGCM:EECDH+aRSA+SHA384:EECDH+aRSA+SHA256:EECDH:+AES256:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!MD5:!EXP:!PSK:!DSS:!3DES:!RC4:!SEED:!ECDSA:AES256-SHA:AES128-SHA:!CAMELLIA128-SHA:!CAMELLIA256-SHA:!DHE-RSA-CAMELLIA128-SHA:!ADH-CAMELLIA128-SHA:!DHE-RSA-CAMELLIA256-SHA:!PSK-AES256-CBC-SHA:!PSK-AES128-CBC-SHA:!ECDHE-RSA-DES-CBC3-SHA:!ECDHE-ECDSA-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!EDH-DSS-DES-CBC3-SHA:!DH-RSA-DES-CBC3-SHA:!DH-DSS-DES-CBC3-SHA:!ECDH-RSA-DES-CBC3-SHA:!ECDH-ECDSA-DES-CBC3-SHA:!DES-CBC3-SHA:!IDEA-CBC-SHA:!PSK-3DES-EDE-CBC-SHA:!KRB5-IDEA-CBC-SHA:!KRB5-DES-CBC3-SHA:!KRB5-IDEA-CBC-MD5:!KRB5-DES-CBC3-MD5
tls_preempt_cipherlist = yes
tls_random_source=dev:/dev/urandom
virtual_alias_maps = mysql:/etc/postfix/virtual-alias-maps.cf
#virtual_alias_domains = mysql:/etc/postfix/virtual-alias-domains.cf
#OpenDKIM
smtpd_milters = inet:127.0.0.1:8891
non_smtpd_milters = $smtpd_milters
milter_default_action = accept
milter_protocol = 2