queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix
mail_owner = postfix
myhostname = {{ ansible_fqdn }}
mydomain = {{ ansible_domain }}
myorigin = $mydomain
smtpd_banner = $myhostname
inet_interfaces = all
inet_protocols = ipv4
{% if prod == false %}
mydestination = $myhostname, localhost.$mydomain, $mydomain, "{{ansible_domain}}"
{% endif %}
{% if prod == true %}
mydestination = {{ansible_fqdn}}, localhost.localdomain, localhost, 69.175.64.151/32, 99.198.109.162/32, 65.60.54.162/32, 184.154.180.242/32, 108.178.33.138/32
{% endif %}
local_header_rewrite_clients = static:all
unknown_local_recipient_reject_code = 550
{% if prod == false %}
mynetworks = 127.0.0.0/8 {{ ' '.join(postfix_networks) }} [::ffff:127.0.0.0]/104 [::1]/128 localhost
{% endif %}
{% if prod == true %}
mynetworks = 127.0.0.0/8 {{ ' '.join(postfix_networks_prod) }} [::ffff:127.0.0.0]/104 [::1]/128 localhost
{% endif %}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
debug_peer_level = 2
debugger_command =
   PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
   ddd $daemon_directory/$process_name $process_id & sleep 5
sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix
setgid_group = postdrop
html_directory = no
manpage_directory = /usr/share/man
sample_directory = /usr/share/doc/postfix-2.11.0/samples
readme_directory = /usr/share/doc/postfix-2.11.0/README_FILES
#virtual_alias_domains = mysql:/etc/postfix/virtual-alias-domains.cf
virtual_alias_maps = mysql:/etc/postfix/virtual-alias-maps.cf

tls_random_source=dev:/dev/urandom

#in

{% if prod == true %}
smtpd_recipient_restrictions = reject_invalid_hostname,
                               reject_unauth_pipelining,
                               permit_mynetworks,
                               permit_sasl_authenticated,
                               reject_unauth_destination,
                               check_client_access hash:/etc/postfix/rbl_override,
                               reject_rbl_client zen.spamhaus.org,
                               reject_rbl_client bl.spamcannibal.org,
                               check_policy_service unix:postgrey/socket,
                               permit 
{% endif %}

{% if prod == false %}
smtpd_recipient_restrictions = reject_invalid_hostname,
                               reject_unauth_pipelining,
                               permit_mynetworks,
                               permit_sasl_authenticated,
                               reject_unauth_destination,
                               reject_rbl_client zen.spamhaus.org,
                               reject_rbl_client bl.spamcannibal.org,
                               check_policy_service unix:postgrey/socket,
                               permit 
{% endif %}

smtpd_sender_login_maps = regexp:/etc/postfix/login_maps.regexp
smtpd_helo_required = yes
smtpd_sender_restrictions = reject_non_fqdn_hostname permit
smtpd_tls_CApath = /etc/ssl/certs
smtpd_tls_CAfile = /etc/ssl/certs/ca-bundle.crt
smtpd_tls_dh1024_param_file = /etc/ssl/{{ansible_fqdn}}/dhparams.pem
smtpd_tls_key_file = /etc/letsencrypt/live/{{ ansible_domain }}-0001/privkey.pem
smtpd_tls_cert_file = /etc/letsencrypt/live/{{ ansible_domain }}-0001/fullchain.pem
#smtpd_tls_auth_only = yes
smtpd_tls_mandatory_ciphers=high
smtpd_tls_protocols = !TLSv1,!SSLv2,!SSLv3
smtpd_tls_mandatory_protocols=!TLSv1,!SSLv2,!SSLv3
smtpd_tls_security_level=may
smtpd_sasl_security_options=noanonymous
smtpd_sasl_tls_security_options=noanonymous
smtpd_tls_exclude_ciphers=aNULL:eNULL:LOW:MD5:MEDIUM:EXP:PSK:DSS:3DES:RC4:SEED:ECDSA:CAMELLIA256-SHA:CAMELLIA128-SHA:DHE-RSA-CAMELLIA128-SHA:ADH-CAMELLIA128-SHA:DHE-RSA-CAMELLIA256-SHA
tls_high_cipherlist=TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:EECDH+aRSA+AESGCM:EECDH+aRSA+SHA384:EECDH+aRSA+SHA256:EECDH:+AES256:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!MD5:!EXP:!PSK:!DSS:!3DES:!RC4:!SEED:!ECDSA:AES256-SHA:AES128-SHA:!CAMELLIA128-SHA:!CAMELLIA256-SHA:!DHE-RSA-CAMELLIA128-SHA:!ADH-CAMELLIA128-SHA:!DHE-RSA-CAMELLIA256-SHA
#tls_ssl_options = NO_COMPRESSION
smtpd_tls_eecdh_grade=ultra
smtpd_sasl_security_options = noanonymous
broken_sasl_auth_clients = yes

#out
smtp_tls_CApath = /etc/ssl/certs
smtp_tls_CAfile = /etc/ssl/certs/ca-bundle.crt
smtp_tls_key_file = /etc/letsencrypt/live/{{ ansible_domain }}-0001/privkey.pem
smtp_tls_cert_file = /etc/letsencrypt/live/{{ ansible_domain }}-0001/fullchain.pem
smtp_tls_security_level = may
smtp_tls_exclude_ciphers=aNULL:eNULL:LOW:MD5:MEDIUM:EXP:PSK:DSS:3DES:RC4:SEED:ECDSA:CAMELLIA256-SHA:CAMELLIA128-SHA:DHE-RSA-CAMELLIA128-SHA:ADH-CAMELLIA128-SHA:DHE-RSA-CAMELLIA256-SHA
#ssl_prefer_server_ciphers = yes
tls_preempt_cipherlist = yes
smtp_tls_note_starttls_offer = yes
smtp_tls_loglevel = 1
smtp_tls_protocols=!SSLv2,!SSLv3
smtp_tls_mandatory_protocols=!SSLv2,!SSLv3

mime_header_checks = regexp:/etc/postfix/header_checks
header_checks = regexp:/etc/postfix/header_checks

home_mailbox = Maildir/
sender_bcc_maps = hash:/etc/postfix/bcc
sender_dependent_default_transport_maps = hash:/etc/postfix/dependent
mailbox_command = /usr/bin/procmail-wrapper -o -a $DOMAIN -d $LOGNAME
mailbox_size_limit = 0
allow_percent_hack = yes

# SASL / Dovecot
smtpd_sasl_path = smtpd
smtpd_sasl_auth_enable = yes
smtpd_relay_restrictions = permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination

#OpenDKIM
smtpd_milters = inet:127.0.0.1:8891
non_smtpd_milters = $smtpd_milters
milter_default_action = accept
milter_protocol = 2
