CREATE TABLE IF NOT EXISTS `virtual_domains` (
        `id` SERIAL,
        `name` VARCHAR(80) NOT NULL,
        PRIMARY KEY (`id`)
) ENGINE=InnoDB;

CREATE UNIQUE INDEX name_idx ON virtual_domains (name);

CREATE TABLE IF NOT EXISTS `virtual_aliases` (
        `id` SERIAL,
        `domain_id` BIGINT UNSIGNED NOT NULL,
        `source` VARCHAR(80) NOT NULL,
        `destination` VARCHAR(80) NOT NULL,
        PRIMARY KEY (`id`),
        FOREIGN KEY (domain_id) REFERENCES virtual_domains(id) ON DELETE CASCADE
) ENGINE=InnoDB;

CREATE INDEX source_idx ON virtual_aliases (source);

{% for virtual_domain in mail_virtual_domains %}
INSERT INTO `virtual_domains` (`id`, `name`) VALUES ('{{ virtual_domain.domain_id }}', '{{ virtual_domain.name }}');
{% endfor %}

{% for virtual_alias in mail_virtual_aliases %}
INSERT INTO `virtual_aliases` (`domain_id`, `source`, `destination`) VALUES ('{{ virtual_alias.domain_id }}', '{{ virtual_alias.source }}', '{{virtual_alias.destination }}');
{% endfor %}

