{% for host in groups['www_hosts'] %}
/usr/local/upload {{ dyl_hosts[host].private_ip }}(rw,insecure,all_squash,async,anonuid={{ note_uid.stdout }},anongid={{ note_gid.stdout }})
{% endfor %}

{% for host in groups['www_hosts'] %}
/usr/local/pbx {{ dyl_hosts[host].private_ip }}(rw,insecure,all_squash,async,anonuid={{ note_uid.stdout }},anongid={{ note_gid.stdout }})
{% endfor %}

{% for host in groups['www_hosts'] %}
/usr/local/rec {{ dyl_hosts[host].private_ip }}(rw,insecure,all_squash,async,anonuid={{ note_uid.stdout }},anongid={{ note_gid.stdout }})
{% endfor %}

{% for host in groups['www_hosts'] %}
/usr/local/cache {{ dyl_hosts[host].private_ip }}(rw,insecure,all_squash,async,anonuid={{ note_uid.stdout }},anongid={{ note_gid.stdout }})
{% endfor %}
