# {{ ansible_managed }}

define host {
        use                     linux-server
        host_name               {{ item }}
        alias                   {{ item }}
        address                 {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }}
        hostgroups              servers
}

define service {
        use generic-service
        host_name {{ item }}
        service_description Current Users
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_users
}

define service {
        use generic-service
        host_name {{ item }}
        service_description Current Load
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_load
}

define service {
        use generic-service
        host_name {{ item }}
        service_description Total Processes
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_total_procs
}

define service {
        use generic-service
        host_name {{ item }}
        service_description Zombie Processes
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_zombie_procs
}

define service {
        use generic-service
        host_name {{ item }}
        service_description Swap Usage
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_swap
}

define service {
        use generic-service
        host_name {{ item }}
        service_description Root Partition
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_disk
}

define service {
        use generic-service
        host_name {{ item }}
        service_description SSH
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_ssh
}

define service {
        use generic-service
        host_name {{ item }}
        service_description Memory Used
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_mem
}

{% if hostvars[item].nagios_role_monit is defined %}
define service {
        use generic-service
        host_name {{ item }}
        service_description Monit
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_monit
}
{% endif %}

{% if hostvars[item].nagios_role_freeswitch is defined %}
define service {
        use generic-service
        host_name {{ item }}
        service_description Freeswitch
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_freeswitch
}
{% endif %}

{% if hostvars[item].nagios_role_twraid is defined %}
define service {
        use generic-service
        host_name {{ item }}
        service_description RAID
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_raid
}
{% endif %}

{% if hostvars[item].nagios_role_megaraid is defined or hostvars[item].nagios_role_megaraid2 is defined%}
define service {
        use generic-service
        host_name {{ item }}
        service_description RAID
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_raid
}
{% endif %}

{% if hostvars[item].nagios_role_mysql_replication is defined %}
define service {
        use generic-service
        host_name {{ item }}
        service_description MySQL Replication
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_mysql_repl
	check_period exclude_nightly_database_backup_1
	notification_period exclude_nightly_database_backup_1
}
{% endif %}

{% if hostvars[item].nagios_role_rabbitmq is defined %}
define service {
        use generic-service
        host_name {{ item }}
        service_description RabbitMQ
        check_command check_nrpe!-H {{ hostvars[item].ansible_ec2_public_ipv4 | default(hostvars[item].ansible_default_ipv4.address) }} -c check_rabbitmq
}
{% endif %}

