# {{ ansible_managed }}
#
# Nagios Apache Config

#Listen 443
SSLPassPhraseDialog  builtin
SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300
Mutex default
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin

<VirtualHost _default_:80>
	ServerName {{ inventory_hostname }}
	ServerAdmin admin@dyl.com
	RewriteEngine on
	RewriteRule ^(.*)$ https://{{ inventory_hostname }}$1 [L,R]
</VirtualHost>

<VirtualHost _default_:443>
	ServerName {{ inventory_hostname }}
	ServerAdmin admin@dyl.com
	ErrorLog /var/log/httpd/error_log
	CustomLog /var/log/httpd/access_log combined
	DocumentRoot /var/www/html

	SSLEngine on
	SSLProtocol all -SSLv2
	SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
	SSLCertificateFile {{ nagios_ssl_path }}/{{ nagios_ssl_cert }}
	SSLCertificateKeyFile {{ nagios_ssl_path }}/{{ nagios_ssl_key }}
	SSLCertificateChainFile {{ nagios_ssl_path }}/{{ nagios_ssl_chain }}
	SetEnvIf User-Agent ".*MSIE.*" \
		 nokeepalive ssl-unclean-shutdown \
		 downgrade-1.0 force-response-1.0

	<Directory "/usr/lib64/nagios/cgi">
	   Options ExecCGI
	   AllowOverride None
	   Order allow,deny
	   Allow from all
		AuthName "Nagios Access"
		AuthType Basic
		AuthUserFile /etc/nagios/htpasswd.users
		Require valid-user
	</Directory>
	<Directory "/usr/share/nagios">
	   Options None
	   AllowOverride None
	   Order allow,deny
	   Allow from all
		AuthName "Nagios Access"
		AuthType Basic
		AuthUserFile /etc/nagios/htpasswd.users
		Require valid-user
	</Directory>
	<Directory "/usr/share/pnp4nagios">
		AllowOverride None
		Order allow,deny
		Allow from all
		RewriteEngine On
		Options symLinksIfOwnerMatch
		RewriteBase /pnp/
		RewriteRule "^(?:application|modules|system)/" - [F]
		RewriteCond "%{REQUEST_FILENAME}" !-f
		RewriteCond "%{REQUEST_FILENAME}" !-d
		RewriteRule "^.*$" "index.php/$0" [PT]
		AuthName "Nagios Access"
		AuthType Basic
		AuthUserFile /etc/nagios/htpasswd.users
		Require valid-user
	</Directory>

	ScriptAlias /nagios/cgi-bin "/usr/lib64/nagios/cgi"
	Alias /nagios "/usr/share/nagios"
	Alias /pnp "/usr/share/pnp4nagios"
</VirtualHost>

