#!/bin/sh

PIDFILE=/var/run/autossh_{{ item.name }}.pid
if [ -e $PIDFILE ]; then
	PID=`cat $PIDFILE`
	if ps -p $PID > /dev/null; then
		if cat /proc/$PID/cmdline | grep -q '^/usr/bin/autossh'; then
			echo "autossh({{ item.name }}): already running"
			exit 0 # return OK exit status
		fi
	fi
fi

export AUTOSSH_PIDFILE=$PIDFILE
/usr/bin/autossh -f -M 0 -o ServerAliveInterval=3 -o ServerAliveCountMax=3 -i /usr/local/etc/tunnel_key.pem -T -N -L {{ item.tunnel }} {{ item.user }}@{{ item.host }}

