#!/bin/sh

export PIDFILE=/var/run/autossh_{{ item.name }}.pid
if [ -e $PIDFILE ]; then
	PID=`cat $PIDFILE`
	if ps -p $PID > /dev/null; then
		if cat /proc/$PID/cmdline | grep -q '^/usr/bin/autossh'; then
			kill $PID && rm -f $PIDFILE
		fi
	fi
fi
exit 0

