set daemon 10
set logfile /var/log/monit.log
set alert {% if monit_alert is defined %}{{ monit_alert }}{% else %}sysadmin@dyl.com{% endif %}

set mailserver localhost
set httpd port 2812 and use the address 127.0.0.1
   allow localhost

include /etc/monit.d/*

#{% if monit_config == 'pbx' %}
#check process freeswitch with pidfile /var/run/freeswitch/freeswitch.pid
#    start program = "/etc/init.d/freeswitch start"
#    stop program = "/etc/init.d/freeswitch stop"

{% if freeswitch_pbx_only is defined %}
check process fs_listener.pl with pidfile /usr/local/freeswitch/run/fs_listener.pid
    start program = "/etc/init.d/dyl_listener start" with timeout 10 seconds
    stop program = "/etc/init.d/dyl_listener stop"

check process redis_proc.pl with pidfile /usr/local/freeswitch/run/redis_proc.pid
    start program = "/etc/init.d/dyl_redis start" with timeout 10 seconds
    stop program = "/etc/init.d/dyl_redis stop"
{% endif %}

check process fs_dialer.pl with pidfile /usr/local/freeswitch/run/fs_dialer.pid
    start program = "/etc/init.d/dyl_dialer start" with timeout 10 seconds
    stop program = "/etc/init.d/dyl_dialer stop"

check process fs_file.pl with pidfile /usr/local/freeswitch/run/fs_file.pid
    start program = "/etc/init.d/dyl_file start" with timeout 10 seconds
    stop program = "/etc/init.d/dyl_file stop"

check process fs_file_worker.pl with pidfile /usr/local/freeswitch/run/fs_file_worker.pid
    start program = "/etc/init.d/dyl_file_worker start" with timeout 10 seconds
    stop program = "/etc/init.d/dyl_file_worker stop"
{% endif %}

{% if monit_config == 'voipmonitor' %}
check process voipmonitor with pidfile /var/run/voipmonitorinitscript.pid
    start program = "/etc/init.d/voipmonitor start" with timeout 30 seconds
    stop program = "/etc/init.d/voipmonitor stop"
{% endif %}

