PerlSwitches -I/home/note/dyl/lib

<Perl>
use Plack::Handler::Apache2;
Plack::Handler::Apache2->preload("/home/note/dyl/apache.psgi");
</Perl>

UseCanonicalName Off
<Directory "/var/www/vhost">
	Options FollowSymLinks
	AllowOverride None
	Order allow,deny
	Allow from all
</Directory>

<VirtualHost *:80>
	ServerName {{ ansible_fqdn }}
	ServerAdmin admin@dyl.com
	VirtualDocumentRoot "/var/www/vhost/%-2.1/%0"
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/css/.*$) $1 [PT]
	RewriteRule (^/js/.*$) $1 [PT]
	RewriteRule (^/font/.*$) $1 [PT]
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Note::PSGI::Apache2
		PerlSetVar psgi_app /home/note/dyl/apache.psgi
	</Location>
</VirtualHost>

