Listen 443
Listen 80

SSLInsecureRenegotiation off
SSLPassPhraseDialog  builtin
SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin
SSLStaplingCache shmcb:/tmp/stapling_cache(128000)

<VirtualHost *:443>
    DocumentRoot "/var/www/{{ansible_fqdn}}/html"
    Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
    Header always set Public-Key-Pins "pin-sha256=\"base64+primary==\"; pin-sha256=\"base64+backup==\"; max-age=5184000; includeSubDomains"
    RewriteEngine On
    RewriteCond %{HTTP:X-Forwarded-Proto} =http
    RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]
    ErrorLog logs/ssl_error_log
    TransferLog logs/ssl_access_log
    LogLevel warn
    SSLEngine on
    SSLProtocol TLSv1.1 TLSv1.2
    SSLHonorCipherOrder on
    SSLCipherSuite TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES:PSK-AES256-CBC-SHA:!PSK-AES128-CBC-SHA:!ECDHE-RSA-DES-CBC3-SHA:!ECDHE-ECDSA-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!EDH-DSS-DES-CBC3-SHA:!DH-RSA-DES-CBC3-SHA:!DH-DSS-DES-CBC3-SHA:!ECDH-RSA-DES-CBC3-SHA:!ECDH-ECDSA-DES-CBC3-SHA:!DES-CBC3-SHA:!IDEA-CBC-SHA:!PSK-3DES-EDE-CBC-SHA:!KRB5-IDEA-CBC-SHA:!KRB5-DES-CBC3-SHA:!KRB5-IDEA-CBC-MD5:!KRB5-DES-CBC3-MD5
    SSLCertificateFile /etc/letsencrypt/live/{{ansible_fqdn}}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ansible_fqdn}}/{{ansible_fqdn}}.key
    SSLCertificateChainFile /etc/letsencrypt/live/{{ansible_fqdn}}/fullchain.pem
    SSLCACertificateFile /etc/ssl/certs/ca-bundle.pem
    #SSLOptions +FakeBasicAuth +ExportCertData +StrictRequire
    <Files ~ "\.(cgi|shtml|phtml|php3?)$">
        SSLOptions +StdEnvVars
    </Files>
    <Directory "/var/www/cgi-bin">
        SSLOptions +StdEnvVars
    </Directory>
    SetEnvIf User-Agent ".*MSIE.*" \
             nokeepalive ssl-unclean-shutdown \
             downgrade-1.0 force-response-1.0
    CustomLog logs/ssl_request_log \
              "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
    SSLUseStapling on
</VirtualHost>                                 

<VirtualHost *:80>
    #DocumentRoot "/var/www/{{ansible_fqdn}}/html"
    #ServerName *:80
    Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
    Header always set Public-Key-Pins "pin-sha256=\"base64+primary==\"; pin-sha256=\"base64+backup==\"; max-age=5184000; includeSubDomains"
    RewriteEngine On
    RewriteCond %{HTTP:X-Forwarded-Proto} =http
    RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]
    ErrorLog logs/ssl_error_log
    TransferLog logs/ssl_access_log
    LogLevel warn
    SSLEngine on
    SSLProtocol TLSv1.1 TLSv1.2
    SSLHonorCipherOrder on
    SSLCipherSuite TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES:PSK-AES256-CBC-SHA:!PSK-AES128-CBC-SHA:!ECDHE-RSA-DES-CBC3-SHA:!ECDHE-ECDSA-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!EDH-DSS-DES-CBC3-SHA:!DH-RSA-DES-CBC3-SHA:!DH-DSS-DES-CBC3-SHA:!ECDH-RSA-DES-CBC3-SHA:!ECDH-ECDSA-DES-CBC3-SHA:!DES-CBC3-SHA:!IDEA-CBC-SHA:!PSK-3DES-EDE-CBC-SHA:!KRB5-IDEA-CBC-SHA:!KRB5-DES-CBC3-SHA:!KRB5-IDEA-CBC-MD5:!KRB5-DES-CBC3-MD5
    SSLCertificateFile /etc/letsencrypt/live/{{ansible_fqdn}}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ansible_fqdn}}/{{ansible_fqdn}}.key
    SSLCertificateChainFile /etc/letsencrypt/live/{{ansible_fqdn}}/fullchain.pem
    SSLCACertificateFile /etc/ssl/certs/ca-bundle.pem
    <Files ~ "\.(cgi|shtml|phtml|php3?)$">
        SSLOptions +StdEnvVars
    </Files>
    <Directory "/var/www/cgi-bin">
        SSLOptions +StdEnvVars
    </Directory>

    SetEnvIf User-Agent ".*MSIE.*" \
             nokeepalive ssl-unclean-shutdown \
             downgrade-1.0 force-response-1.0

    CustomLog logs/ssl_request_log \
              "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
    SSLUseStapling on
</VirtualHost>                             