# {{ ansible_managed }}
{% if dyl_production is defined and dyl_production %}
production=1
{% endif %}
redis={{ dyl_redis }}
redis_pbx={{ dyl_redis_pbx }}
smtp={{ dyl_smtp }}
meteor_host={{ dyl_meteor }}
ws_domain={{ dyl_ws_domain }}
gearman_host={{ dyl_gearman_host }}
email_template_user_images=/var/www/vhost/{{ dyl_prefix }}/{{ dyl_host_mail }}/img/user
email_template_default_host={{ dyl_host_mail }}
email_template_smtp={{ dyl_smtp_drip }}
email_template_from_user={{ dyl_drip_from_user }}
email_template_from_domain={{ dyl_drip_from_domain }}
upload_user=/usr/local/upload/user
bulkcnam_id={{ dyl_bulkcnam_id }}
fedex_meter={{ dyl_fedex_meter }}
fedex_account={{ dyl_fedex_account }}
fedex_key={{ dyl_fedex_key }}
fedex_password={{ dyl_fedex_password }}
fedex_proxy={{ dyl_fedex_proxy }}
suretax_client={{ dyl_suretax_client }}
suretax_key={{ dyl_suretax_key }}
google_calendar_client_id={{ dyl_google_calendar_client }}
google_calendar_secret={{ dyl_google_calendar_secret }}
chart_root=/var/www/vhost/{{ dyl_prefix }}/{{ dyl_host_user }}/rec/jpeg
download_lead=/var/www/vhost/{{ dyl_prefix }}/{{ dyl_host_user }}/rec/leads
download_file=/var/www/vhost/{{ dyl_prefix }}/{{ dyl_host_user }}/rec/files
download_rec=/var/www/vhost/{{ dyl_prefix }}/{{ dyl_host_user }}/rec
dyl_user={{ dyl_user }}
dyl_alert_emails={{ admin_email }}
login_url="https://{{ dyl_host_user }}/login"
primary_domain={{ dyl_host_www }}
#redirect_domain=dyl3rdr.kritikos.info
provision_domain={{ dyl_host_prov }}
user_domain={{ dyl_host_user }}
sales_domain={{ dyl_host_sales }}
fs_config_root=/usr/local/pbx
fs_host_base={{ dyl_voip_domain }}
fs_gateway={{ dyl_voip_gateway }}
dncloginid={{ dyl_dnc_login_id }}
default_faxline={{ dyl_fax_callerid }}
gpg_recipient={{ dyl_gpg_recipient }}
gpg_home={{ dyl_gpg_home }}
aws_access_key_id={{ dyl_aws_access_key }}
aws_secret_access_key={{ dyl_aws_secret }}
aws_bucket={{ dyl_aws_bucket }}
aws_environment={{ dyl_aws_environment }}
page_json=/usr/local/cyber/data/domain_json
template_json=/usr/local/cyber/data/template_json
bandwidth_login={{ dyl_bandwidth_login }}
bandwidth_pass={{ dyl_bandwidth_pass }}
bandwidth_account={{ dyl_bandwidth_account }}
bandwidth_site={{ dyl_bandwidth_site }}
bandwidth_site_tollfree={{ dyl_bandwidth_site_tollfree }}
bandwidth_e911login={{ dyl_bandwidth_e911_login }}
bandwidth_e911pass={{ dyl_bandwidth_e911_pass }}
encryption_key={{ dyl_encryption_key }}
kannel_server={{ dyl_kannel_server }}
kannel_user={{ dyl_kannel_user }}
kannel_pass={{ dyl_kannel_password }}
sms_inbound_username={{ dyl_inbound_sms_user }}
sms_inbound_pass={{ dyl_inbound_sms_password }}
pbx_proxy={{ dyl_pbx_proxy }}
pbx_sbc_databases={{ dyl_sbc_databases }}
chat_server={{ dyl_chat_server }}
mailchimp_key={{ dyl_mailchimp_key }}
mandrill-key={{ dyl_mandrill_key }}
mandrill_dyl_dialer_email={{ dyl_dialer_email }}
jira_user={{ dyl_jira_user }}
jira_pass={{ dyl_jira_password }}
mms_dir={{ dyl_mms_dir }}
cache_dir={{ dyl_cache_dir }}
mms_domain={{ dyl_mms_domain }}
mbuni_user={{ dyl_mbuni_user }}
mbuni_pass={{ dyl_mbuni_password }}
openfire_token={{ dyl_openfire_token }}
openfire_user={{ dyl_openfire_user }}
openfire_pass={{ dyl_openfire_password }}
allstate_campaigns_client_id={{ dyl_allstate_campaigns_client_id }}
allstate_campaigns_client_secret={{ dyl_allstate_campaigns_client_secret }}
outlook_client_id={{ dyl_outlook_client_id }}
outlook_client_secret={{ dyl_outlook_client_secret }}
google_client_id={{ dyl_google_client_id }}
google_client_secret={{ dyl_google_client_secret }}
infusionsoft_client={{ dyl_infusionsoft_client  }}
infusionsoft_secret={{ dyl_infusionsoft_secret  }}
fb_app_id={{ dyl_fb_app_id  }}
fb_app_secret={{ dyl_fb_app_secret  }}
fb_app_pass={{ dyl_fb_app_pass  }}
flowroute_user={{ dyl_flowroute_user }}
flowroute_pass={{ dyl_flowroute_pass }}

<authorizenet>
	cim_login={{ dyl_authorizenet_cim_login }}
	cim_password={{ dyl_authorizenet_cim_password }}
</authorizenet>
<push_apns_voip>
    cert={{ dyl_ssl_path }}/{{ dyl_push_apns_voip_cert }}
    key={{ dyl_ssl_path }}/{{ dyl_push_apns_voip_key }}
</push_apns_voip>
<push_apns_message>
    cert={{ dyl_ssl_path }}/{{ dyl_push_apns_message_cert }}
    key={{ dyl_ssl_path }}/{{ dyl_push_apns_message_key }}
</push_apns_message>

<hostname>
	vhost={{ dyl_host_user }}
	domain=dialyourleads.com
	staging=1
</hostname>
<hostname>
	vhost={{ dyl_host_local }}
	domain=dialyourleads.com
</hostname>
<hostname>
	vhost={{ dyl_host_www }}
	domain=dialyourleads.com
</hostname>
<hostname>
	vhost={{ dyl_host_prov }}
	domain=dialyourleads.com
</hostname>
<hostname>
	vhost={{ dyl_host_sales }}
	domain=dialyourleads.com
</hostname>
{% if dyl_host_prev is defined and dyl_host_prev %}
<hostname>
	vhost={{ dyl_host_prev }}
	domain=dialyourleads.com
</hostname>
{% endif %}
{% if dyl_host_leads is defined and dyl_host_leads %}
<hostname>
	vhost={{ dyl_host_leads }}
	domain=dialyourleads.com
</hostname>
{% endif %}
{% if dyl_host_agents is defined and dyl_host_agents %}
<hostname>
	vhost={{ dyl_host_agents }}
	domain=dialyourleads.com
</hostname>
{% endif %}
{% if dyl_host_mail is defined and dyl_host_mail %}
<hostname>
	vhost={{ dyl_host_mail }}
	domain=quotealead.com
</hostname>
{% endif %}

{% if dyl_host_dev is defined %}
<hostname>
	vhost={{ dyl_host_dev }}
	domain=invisible.dynalias.com
</hostname>
{% endif %}

{% for db in dyl_databases %}
<dbi>
	name={{ db.name }}
	host={{ db.host }}
	user={{ db.user }}
	password={{ db.password }}
	database={{ db.database }}
</dbi>
{% endfor %}
{% for sbc in dyl_sbcs %}
<sbc>
	ipaddress={{ sbc.ip_address }}
	database={{ sbc.database }}
</sbc>
{% endfor %}

