%echo Generating a OpenPGP key
Key-Type: RSA
Key-Length: 2048
Name-Real: DYL LLC
Name-Comment: Signing-only key
Name-Email: system@dyl.com
Expire-Date: 0
Passphrase: {{ dyl_gpg_keyring_password }}
%pubring .gnupg/pubring.gpg
%secring .gnupg/secring.gpg
# Do a commit here, so that we can later print "done" :-)
%commit
%echo done
