# {{ ansible_managed }}

LoadModule ssl_module modules/mod_ssl.so
LoadModule perl_module modules/mod_perl.so

#Listen 443

SSLPassPhraseDialog  builtin
SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300
Mutex default
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
SSLStrictSNIVHostCheck off

<Directory "/var/www/vhost">
	Options FollowSymLinks
	AllowOverride None
	Order allow,deny
	Allow from all
</Directory>

PerlSwitches -I/usr/local/cyber/lib

VirtualDocumentRoot "/var/www/vhost/%-2.1/%0"
UseCanonicalName Off

Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"

<VirtualHost *:80>
	ServerName {{ dyl_host_www }}
	ServerAdmin admin@dyl.com
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]

	RewriteRule (^/login$) /perl$1 [PT]
	RewriteRule (^/password-reset$) /perl$1 [PT]
	RewriteRule (^/verify$) /perl$1 [PT]
	RewriteRule (^/lp/.*$) /perl$1 [PT]
	RewriteRule (^/fs/.*$) /perl$1 [PT]
	RewriteRule (^/system/.*$) /perl$1 [PT]
	RewriteRule (^/post.*$) /perl$1 [PT]

	RewriteRule (^/user.*$) https://{{ dyl_host_user }}$1 [L,R]
	RewriteRule (^/.*\.(:?gif|png|jpg|swf|ico|mov|mp3|pdf|js|css|ttf|woff|)$) /site$1 [PT]

        # Default rule
	RewriteRule (.*) /www$1 [PT]

	<Location /perl/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
	<Location /www/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Site
	</Location>
</VirtualHost>
{% if dyl_host_prev is defined and dyl_host_prev %}
<VirtualHost *:80>
	ServerName {{ dyl_host_prev }}
	ServerAdmin admin@dyl.com
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]

	RewriteRule (^/user.*$) https://{{ dyl_host_user }}$1 [L,R]

        # Default rule
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
{% endif %}
{% if dyl_host_leads is defined and dyl_host_leads %}
<VirtualHost *:80>
	ServerName {{ dyl_host_leads }}
	ServerAdmin admin@dyl.com
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]

	RewriteRule (^/user.*$) https://{{ dyl_host_user }}$1 [L,R]

        # Default rule
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
{% endif %}
{% if dyl_host_agents is defined and dyl_host_agents %}
<VirtualHost *:80>
	ServerName {{ dyl_host_agents }}
	ServerAdmin admin@dyl.com
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]

	RewriteRule (^/user.*$) https://{{ dyl_host_user }}$1 [L,R]

        # Default rule
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
{% endif %}
<VirtualHost *:80>
	ServerName {{ dyl_host_local }}
	ServerAdmin admin@dyl.com
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]

	RewriteRule (^/login$) /perl$1 [PT]
	RewriteRule (^/password-reset$) /perl$1 [PT]
	RewriteRule (^/verify$) /perl$1 [PT]
	RewriteRule (^/lp/.*$) /perl$1 [PT]
	RewriteRule (^/fs/.*$) /perl$1 [PT]
	RewriteRule (^/system/.*$) /perl$1 [PT]
	RewriteRule (^/post.*$) /perl$1 [PT]

	RewriteRule (^/user.*$) https://{{ dyl_host_user }}$1 [L,R]
	RewriteRule (^/.*\.(:?gif|png|jpg|swf|ico|mov|mp3|pdf|js|css|ttf|woff|)$) /site$1 [PT]

        # Default rule
	RewriteRule (.*) /www$1 [PT]

	<Location /perl/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
	<Location /www/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Site
	</Location>
</VirtualHost>
<VirtualHost *:80>
	ServerName {{ dyl_host_user }}
	ServerAdmin admin@dyl.com
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]

        # Default rule
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
<VirtualHost *:80>
	ServerName {{ dyl_host_sales }}
	ServerAdmin admin@dyl.com
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]

        # Default rule
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
        XSendFile On
        XSendFilePath {{ dyl_cache_dir }}
	</Location>
</VirtualHost>
<VirtualHost *:80>
	ServerName {{ dyl_host_prov }}
	ServerAdmin admin@dyl.com
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]
	
	# Panasonic
	RewriteCond %{HTTP_USER_AGENT} ^Panasonic
	RewriteRule (^/[\da-f]{12}\.cfg$) /perl$1 [PT]

	# Aastra firmware
	RewriteRule (/55i.st$) /ext/voip/55i.st [PT]
	RewriteRule (^/phone/55i.st$) /ext/voip/55i.st [PT]

	# Grandstream firmware
	RewriteRule (/gxp1450.*$) /ext/voip/$1 [PT]
	RewriteRule (^/phone/gxp1450.*$) /ext/voip/$1 [PT]
	RewriteRule (^/ring\d\.bin$) /ext/voip/gs$1 [PT]
	RewriteRule (^/gxp\d+\w+\.bin$) /ext/voip/gs$1 [PT]
	RewriteRule (^/bt\d+\w\.bin$) /ext/voip/gs$1 [PT]
	RewriteRule (^/boot\d+\w\.bin$) /ext/voip/gs$1 [PT]

	# Yealink
	RewriteCond %{HTTP_USER_AGENT} ^yealink
	RewriteRule (^/[\da-f]{12}\.cfg$) /perl$1 [PT]
	RewriteCond %{HTTP_USER_AGENT} ^Yealink
	RewriteRule (^/[\da-f]{12}\.cfg$) /perl$1 [PT]

	# Polycom firmware
	RewriteRule (^/[\da-f]{12}\.cfg$) /ext/voip/polycom/000000000000.cfg [PT]
	RewriteRule (^/.*bootrom.ld$) /ext/voip/polycom/$1 [PT]
	RewriteRule (sip.ld$) /ext/voip/polycom/$1 [PT]

	# Polycom legacy firmware
	RewriteRule (^.*sip_318\.ld$) /ext/voip/polycom_legacy/$1 [PT]
	RewriteRule (c\d+\.pem$) /ext/cert/$1 [PT]
	RewriteRule (^/Leaf.jpg) /ext/voip/polycom_legacy$1 [PT]
	RewriteRule (^/Sailboat.jpg) /ext/voip/polycom_legacy$1 [PT]
	RewriteRule (^/Beach.jpg) /ext/voip/polycom_legacy$1 [PT]
	RewriteRule (^/Palm.jpg) /ext/voip/polycom_legacy$1 [PT]
	RewriteRule (^/Jellyfish.jpg) /ext/voip/polycom_legacy$1 [PT]
	RewriteRule (^/Mountain.jpg) /ext/voip/polycom_legacy$1 [PT]

	# Not needed...
	#RewriteCond %{HTTP_USER_AGENT} ^yealink [NC,OR]
	#RewriteCond %{HTTP_USER_AGENT} ^aastra [NC,OR]
	#RewriteCond %{HTTP_USER_AGENT} ^cisco [NC,OR]
	#RewriteCond %{HTTP_USER_AGENT} ^linksys [NC,OR]
	#RewriteCond %{HTTP_USER_AGENT} ^grandstream [NC]
	#RewriteRule (.*) /perl$1 [PT]

        # Default rule
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
{% if dyl_host_dev is defined %}
<VirtualHost *:80>
	ServerName {{ dyl_host_dev }}
	ServerAdmin admin@dyl.com
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]

        # Default rule
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
{% endif %}
<VirtualHost *:443>
	ServerName {{ dyl_host_www }}
	ServerAdmin admin@dyl.com
	SSLEngine on
	SSLProtocol all -SSLv2
	SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
	SSLCertificateFile {{ dyl_ssl_path }}/{{ dyl_ssl_cert }}
	SSLCertificateKeyFile {{ dyl_ssl_path }}/{{ dyl_ssl_key }}
	SSLCertificateChainFile {{ dyl_ssl_path }}/{{ dyl_ssl_chain }}
	SetEnvIf User-Agent ".*MSIE.*" \
		 nokeepalive ssl-unclean-shutdown \
		 downgrade-1.0 force-response-1.0
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]

	RewriteRule (^/login$) /perl$1 [PT]
	RewriteRule (^/password-reset$) /perl$1 [PT]
	RewriteRule (^/verify$) /perl$1 [PT]
	RewriteRule (^/lp/.*$) /perl$1 [PT]
	RewriteRule (^/fs/.*$) /perl$1 [PT]
	RewriteRule (^/system/.*$) /perl$1 [PT]
	RewriteRule (^/post.*$) /perl$1 [PT]

	RewriteRule (^/user.*$) https://{{ dyl_host_user }}$1 [L,R]
	RewriteRule (^/.*\.(:?gif|png|jpg|swf|ico|mov|mp3|pdf|js|css|ttf|woff|)$) /site$1 [PT]

	RewriteRule (.*) /www$1 [PT]

	<Location /perl/>
		SSLOptions +StdEnvVars
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
	<Location /www/>
		SSLOptions +StdEnvVars
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Site
	</Location>
</VirtualHost>
<VirtualHost *:443>
	ServerName {{ dyl_host_local }}
	ServerAdmin admin@dyl.com
	SSLEngine on
	SSLProtocol all -SSLv2
	SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
	SSLCertificateFile {{ dyl_ssl_path }}/{{ dyl_ssl_cert }}
	SSLCertificateKeyFile {{ dyl_ssl_path }}/{{ dyl_ssl_key }}
	SSLCertificateChainFile {{ dyl_ssl_path }}/{{ dyl_ssl_chain }}
	SetEnvIf User-Agent ".*MSIE.*" \
		 nokeepalive ssl-unclean-shutdown \
		 downgrade-1.0 force-response-1.0
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SSLOptions +StdEnvVars
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
{% if dyl_host_prev is defined and dyl_host_prev %}
<VirtualHost *:443>
	ServerName {{ dyl_host_prev }}
	ServerAdmin admin@dyl.com
	SSLEngine on
	SSLProtocol all -SSLv2
	SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
	SSLCertificateFile {{ dyl_ssl_prev_cert }}
	SSLCertificateKeyFile {{ dyl_ssl_prev_key }}
	SSLCertificateChainFile {{ dyl_ssl_prev_chain }}
	SetEnvIf User-Agent ".*MSIE.*" \
		 nokeepalive ssl-unclean-shutdown \
		 downgrade-1.0 force-response-1.0
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SSLOptions +StdEnvVars
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
{% endif %}
{% if dyl_host_leads is defined and dyl_host_leads %}
<VirtualHost *:443>
	ServerName {{ dyl_host_leads }}
	ServerAdmin admin@dyl.com
	SSLEngine on
	SSLProtocol all -SSLv2
	SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
	SSLCertificateFile {{ dyl_ssl_path }}/{{ dyl_ssl_cert }}
	SSLCertificateKeyFile {{ dyl_ssl_path }}/{{ dyl_ssl_key }}
	SSLCertificateChainFile {{ dyl_ssl_path }}/{{ dyl_ssl_chain }}
	SetEnvIf User-Agent ".*MSIE.*" \
		 nokeepalive ssl-unclean-shutdown \
		 downgrade-1.0 force-response-1.0
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SSLOptions +StdEnvVars
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
{% endif %}
{% if dyl_host_agents is defined and dyl_host_agents %}
<VirtualHost *:443>
	ServerName {{ dyl_host_agents }}
	ServerAdmin admin@dyl.com
	SSLEngine on
	SSLProtocol all -SSLv2
	SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
	SSLCertificateFile {{ dyl_ssl_path }}/{{ dyl_ssl_cert }}
	SSLCertificateKeyFile {{ dyl_ssl_path }}/{{ dyl_ssl_key }}
	SSLCertificateChainFile {{ dyl_ssl_path }}/{{ dyl_ssl_chain }}
	SetEnvIf User-Agent ".*MSIE.*" \
		 nokeepalive ssl-unclean-shutdown \
		 downgrade-1.0 force-response-1.0
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SSLOptions +StdEnvVars
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
{% endif %}
<VirtualHost *:443>
	ServerName {{ dyl_host_user }}
	ServerAdmin admin@dyl.com
	SSLEngine on
	SSLProtocol all -SSLv2
	SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
	SSLCertificateFile {{ dyl_ssl_path }}/{{ dyl_ssl_cert }}
	SSLCertificateKeyFile {{ dyl_ssl_path }}/{{ dyl_ssl_key }}
	SSLCertificateChainFile {{ dyl_ssl_path }}/{{ dyl_ssl_chain }}
	SetEnvIf User-Agent ".*MSIE.*" \
		 nokeepalive ssl-unclean-shutdown \
		 downgrade-1.0 force-response-1.0
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]
	RewriteRule (^/poll.html$) $1 [PT]
	RewriteRule (^/stream.html$) $1 [PT]
	RewriteRule (^/meteor.js$) $1 [PT]
	RewriteRule (^/push/.*$) $1 [PT]
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SSLOptions +StdEnvVars
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>

	ProxyPass /poll.html http://127.0.0.1:4670/poll.html
	ProxyPassReverse /poll.html http://127.0.0.1:4670/poll.html
	ProxyPass /stream.html http://127.0.0.1:4670/stream.html
	ProxyPassReverse /stream.html http://127.0.0.1:4670/stream.html
	ProxyPass /meteor.js http://127.0.0.1:4670/meteor.js
	ProxyPassReverse /meteor.js http://127.0.0.1:4670/meteor.js
	ProxyPass /push/ http://127.0.0.1:4670/push/
	ProxyPassReverse /push/ http://127.0.0.1:4670/push/
</VirtualHost>
<VirtualHost *:443>
	ServerName {{ dyl_host_sales }}
	ServerAdmin admin@dyl.com
	SSLEngine on
	SSLProtocol all -SSLv2
	SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
	SSLCertificateFile {{ dyl_ssl_path }}/{{ dyl_ssl_cert }}
	SSLCertificateKeyFile {{ dyl_ssl_path }}/{{ dyl_ssl_key }}
	SSLCertificateChainFile {{ dyl_ssl_path }}/{{ dyl_ssl_chain }}
	SetEnvIf User-Agent ".*MSIE.*" \
		 nokeepalive ssl-unclean-shutdown \
		 downgrade-1.0 force-response-1.0
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]
	RewriteRule (^/poll.html$) $1 [PT]
	RewriteRule (^/stream.html$) $1 [PT]
	RewriteRule (^/meteor.js$) $1 [PT]
	RewriteRule (^/push/.*$) $1 [PT]
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SSLOptions +StdEnvVars
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>

	ProxyPass /poll.html http://127.0.0.1:4670/poll.html
	ProxyPassReverse /poll.html http://127.0.0.1:4670/poll.html
	ProxyPass /stream.html http://127.0.0.1:4670/stream.html
	ProxyPassReverse /stream.html http://127.0.0.1:4670/stream.html
	ProxyPass /meteor.js http://127.0.0.1:4670/meteor.js
	ProxyPassReverse /meteor.js http://127.0.0.1:4670/meteor.js
	ProxyPass /push/ http://127.0.0.1:4670/push/
	ProxyPassReverse /push/ http://127.0.0.1:4670/push/
</VirtualHost>

{% if dyl_host_mail is defined and dyl_host_mail != dyl_host_user %}
<VirtualHost *:80>
	ServerName {{ dyl_host_mail }}
	ServerAdmin admin@{{ dyl_host_mail }}
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
{% endif %}

{% if dyl_host_dev is defined %}
<VirtualHost *:443>
	ServerName {{ dyl_host_dev }}
	ServerAdmin admin@dyl.com
	SSLEngine on
	SSLProtocol all -SSLv2
	SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
	SSLCertificateFile {{ dyl_ssl_path }}/{{ dyl_ssl_cert }}
	SSLCertificateKeyFile {{ dyl_ssl_path }}/{{ dyl_ssl_key }}
	SSLCertificateChainFile {{ dyl_ssl_path }}/{{ dyl_ssl_chain }}
	SetEnvIf User-Agent ".*MSIE.*" \
		 nokeepalive ssl-unclean-shutdown \
		 downgrade-1.0 force-response-1.0
	RewriteEngine on
	RewriteRule (^/favicon.ico$) /img/favicon.ico [PT]
	RewriteRule (^/php/.*$) $1 [F]
	RewriteRule (^/img/.*$) $1 [PT]
	RewriteRule (^/ext/.*$) $1 [PT]
	RewriteRule (^/w3c/.*$) $1 [PT]
	RewriteRule (^/rec/.*$) $1 [PT]
	RewriteRule (.*) /perl$1 [PT]

	<Location /perl/>
		SSLOptions +StdEnvVars
		SetHandler perl-script
		PerlOptions +ParseHeaders
		PerlResponseHandler Cyber::Client
	</Location>
</VirtualHost>
{% endif %}

