# {{ ansible_managed }}
host={{ dyl_rabbitmq_host }}
user={{ dyl_rabbitmq_user }}
pass={{ dyl_rabbitmq_password }}
self={{ inventory_hostname }}
{% if dyl_aws_access_key is defined %}aws_access_key_id={{ dyl_aws_access_key }}{% endif %}

{% if dyl_aws_secret is defined %}aws_secret_access_key={{ dyl_aws_secret }}{% endif %}

