#!/bin/bash
sif={{ ansible_default_ipv4.interface }}
dif=dummy0

ip link add dummy0 type dummy

tc qdisc add dev "$sif" ingress
tc qdisc add dev "$sif" handle 1: root prio

for port in 5060 5070 5080 5090 ; do
tc filter add dev "$sif" parent ffff: protocol ip u32 match ip dport $port 0xffff action mirred egress mirror dev "$dif"
tc filter add dev "$sif" parent 1: protocol ip u32 match ip sport $port 0xffff action mirred egress mirror dev "$dif"
done

ifconfig dummy0 up

