# {{ ansible_managed }}
#
# voipmonitor.org configuration file
#
# location of this file is at ~/.voipmonitor.conf or /etc/voipmonitor.conf
# command line parameters overrides configuration directives in this file
# allowed comments are ; or #. 
#

[general]
sipport = 5060
sipport = 5070
sipport = 5080
sipport = 5090
interface = {% if voipmonitor_sniffer_interface is defined %}{{ voipmonitor_sniffer_interface }}{% else %}eth0{% endif %}

ringbuffer = 200 #up to 2000MB
packetbuffer_enable             = yes
packetbuffer_total_maxheap      = 2000 #in MB 
packetbuffer_compress           = yes #enable compression 
packetbuffer_file_totalmaxsize  = 0 #MB. Default is disabled. 
packetbuffer_file_path          = /var/spool/voipmonitor/packetbuffer
mirror_destination_ip           = {{ vpm1ip }}
mirror_destination_port         = 5030

