##
# The global database path to be used by all modules.  This is ultimately
# assembled from the following constants into the form:
#
#    db_driver://user:password@db.host/db_name
#
# The variables are assembled in a context-sensitive way, depending on 
# whether a module parameter ('db_url') or a string literal (for example,
# a connection handle definition in module_cfg/sqlops.k) is required. 
# That is why we define them separately.

#!subst "/DB_DRIVER/mysql/"
#!subst "/DB_HOST/localhost/"
#!subst "/DB_USER/{{ kamailio_db_user }}/"
#!subst "/DB_PASSWORD/{{ kamailio_db_password }}/"
#!subst "/DB_NAME/{{ kamailio_db_name }}/"

#!subst "/FS_DRIVER/mysql/"
#!subst "/FS_HOST/{{ kamailio_fsdb_host }}/"
#!subst "/FS_USER/{{ kamailio_fsdb_user }}/"
#!subst "/FS_PASSWORD/{{ kamailio_fsdb_password }}/"
#!subst "/FS_NAME/{{ kamailio_fsdb_name }}/"

#!subst "/PRIMARY_IP/{% if ansible_ec2_public_ipv4 is defined %}{{ ansible_ec2_public_ipv4 }}{% else %}{{ ansible_default_ipv4['address'] }}{% endif %}/"
#!subst "/DYL_HOST/{{ kamailio_dyl_host }}/"

##
# The socket used to connect to rtpproxy.

#!subst "/RTPPROXY_SOCK/udp:127.0.0.1:5050/"
