#!KAMAILIO
########## -- Global inclusions -- ##########
include_file "config_params.k"

########## -- Global parameters -- ##########

##
# Advertised address value override (if required) for Via header and
# destination lumps (RR).  This value, if set, overrides any discovered 
# interface addresses associated with the bound socket.  No safety 
# checks are done to determine validity of this value, so use with caution 
# only if necessary.

#advertised_address=1.2.3.4

##
# Advertised port value override (if required) for Via header and
# destination lumps (RR).  This value, if set, overrides any discovered 
# source ports of messages received on the bound socket.  No safety 
# checks are done to determine validity of this value, so use with caution 
# only if necessary.

#advertised_port=5060

## 
# Manual addition of aliased hostnames held by the local server.  This
# adds hostname/port tuples to the list of destinations that match the
# 'myself' keyword and are considered local by loose_route().  It is 
# necessary to provide both the hostname and the port (e.g. alias=host:5060)
# for this to work properly.  These entries supplement local aliases
# automatically discovered in /etc/hosts.  Multiple 'alias' entries may 
# be present.

#alias=sip.testme.com:5060 1.2.3.4:5060

##
# Check if the address in topmost Via of replies is considered local.
# This check is disabled by default, and should be unless there is a 
# specific need to enable it.

check_via=0

##
# Number of child processes to fork for each UDP interface to process
# incoming messages.  Default is 8.

children=16

##
# Debug log level.

debug=2

## 
# Disable core dumps.  They should not be disabled by default.

disable_core_dump=no

##
# Disable support for the SCTP transport protocol.  This should be set to
# yes unless there is a specific reason for SCTP.  This option will not
# work with either setting unless SCTP support is actually compiled in.

#disable_sctp=yes

## 
# Disable support of the TCP transport protocol.  This should be set to
# yes unless there is a specific reason for TCP.

disable_tcp=no

## 
# Disable TLS support.

disable_tls=no
enable_tls=yes

##
# Attempt to do DNS lookup on address in Via header when adding 
# 'received' parameter.  Recommended setting is no.

dns=no

##
# DNS cache -- recommended setting for performance is no.

dns_cache_init=off

##
# Time (in seconds) before retrying a DNS request.

dns_retr_time=2

##
# When host name is resolved using DNS search list, check that the
# domain added in the answer matches the one in the search list.
# Recommended setting is yes, for security and consistency.

dns_search_full_match=no

##
# Enable DNS SRV weight-based load balancing.

dns_srv_lb=no

##
# Enable NAPTR support according to RFC 3263.

dns_try_naptr=no

##
# Use 'search' list in /etc/resolv.conf?
# Recommended setting is no for faster performance, but may be necessary
# in some cases.  Note that disabling this parameter is still 'faster'
# even if a 'search' directive is not present in /etc/resolv.conf 
# because an empty search list is in fact aimed at the target "".

dns_use_search_list=no

##
# Number of DNS servers (in order of appearance) to use from /etc/resolv.conf.
# The default setting is to use all of them, which is recommended.

#dns_servers_no=2

##
# Activate symmetric response routing globally - identical to the 
# behaviour imposed by force_rport(), but in every case.  This 
# should not be done unless necessary.

force_rport=no

##
# Fork parameter - if set to yes, the process will detach from the
# controlling terminal and run in daemon mode.

fork=yes

##
# Max TCP Connections
tcp_max_connections=8192

##
# Max TLS Connections
tls_max_connections=8192

##
# Address of listening socket.  Multiple listen addresses are acceptable.
# Format can be one of:
#
#   listen=ip.address
#   listen=udp:ip.address:port
#   listen=physicalInterfaceName:port


#listen=udp:1.2.3.4:5060
{% if ansible_ec2_public_ipv4 is defined %}
listen=tls:{{ ansible_default_ipv4['address'] }}:5061 advertise {{ ansible_ec2_public_ipv4 }}:5061
listen=udp:{{ ansible_default_ipv4['address'] }}:5060 advertise {{ ansible_ec2_public_ipv4 }}:5060
listen=tcp:{{ ansible_default_ipv4['address'] }}:5060 advertise {{ ansible_ec2_public_ipv4 }}:5060
listen=udp:{{ ansible_default_ipv4['address'] }}:15060 advertise {{ ansible_ec2_public_ipv4 }}:15060
listen=tcp:{{ ansible_default_ipv4['address'] }}:15060 advertise {{ ansible_ec2_public_ipv4 }}:15060
{% else %}
listen=udp:{{ ansible_default_ipv4['address'] }}:5060
listen=tcp:{{ ansible_default_ipv4['address'] }}:5060
listen=udp:{{ ansible_default_ipv4['address'] }}:15060
listen=tcp:{{ ansible_default_ipv4['address'] }}:15060
listen=tls:{{ ansible_default_ipv4['address'] }}:5061
{% endif %}

##
# If logging to UNIX syslog daemon, this sets the logging facility.  
# The facility can then be redirected in *syslog[d].conf to a specific
# log file or remote log server.

log_facility=LOG_LOCAL6

##
# Write log and debug messages to standard error stream.  This should
# not be necessary under normal circumstances.

log_stderror=no

## 
# Maximum buffer size for UDP message receipt.

maxbuffer=65536

##
# Maximum amount of while loop iterations -- used to limit the damage of
# infinite loops in the script.

max_while_loops=300

##
# Tell the proxy to try to locate the outbound interface on a multihomed
# host.  This should be off by default unless it is specially needed;  
# it is, per the documentation, "rather time-consuming."  The outgoing
# socket selection can be forced manually anyhow.

mhomed=0

##
# Lock all Kamailio pages into memory making it unswappable;  this
# is rather desirable, in general, for performance reasons.

mlock_pages=yes

##
# Size to which to attempt to override the open file limit.  Note that
# this is not of much use in itself;  overriding the default file descriptor
# limit for userspace processes (1024 on most systems) requires that the
# proxy be started as root and, perhaps, that the limit be increased in
# the kernel by various means.

open_files_limit=40000

##
# Treat SIP URIs with user=phone parameter as TEL URIs.  

phone2tel=0

##
# If enabled, the Don't Fragment (DF) bit will be set in the IP header of
# outgoing packets.

pmtu_discovery=1

##
# The port on which the SIP server listens.

port=5060

##
# If enabled, any locally generated reply is sent to the IP address 
# advertised in the topmost Via header of the request with which it is
# associated. 
#
# This should be disabled by default as there are various other ways,
# in a variety of circumstances, to discover the correct destination for a
# reply. 

reply_to_via=0

##
# Do reverse DNS lookups on addresses in Via header to determine if 
# adding a 'received' parameter is necessary.  Recommended setting is no.

rev_dns=no

##
# Value of Server header for locally generated replies, if a Server header
# is sent at all (see below option).

server_header="DYL.com SIP Proxy"

##
# Send a Server header in locally generated requests and/or replies?
# Recommended value is off, to conserve packet size.

server_signature=0

##
# Pre-fault all the shared memory before starting.  This increases start
# time, but when combined with mlock_pages enabled will guarantee that
# Kamailio gets all its memory up-front instead of swapping later.

shm_force_alloc=yes

##
# Append a 'Warning' header to each locally generated reply.

sip_warning=0

##
# Fall back to another protocol (contingent upon udp_mtu_try_proto) if the
# constructed request size is greater than udp_mtu.  The RFC 3261-specified
# size is 1300 bytes.

udp_mtu=1300

##
# If the forwarded request size (after all modifications) is greater than
# udp_mtu and udp_mtu > 0, use the following transport protocols in place 
# of UDP.

udp_mtu_try_proto=UDP

##
# Cache DNS responses?

use_dns_cache=on

##
# Use destination blacklist (to which destinations are added when there
# is an error in sending to them).  This feature is very annoying, pointless
# for any kind of environment requiring retry/failover, and also incurs a 
# small performance penalty.  It should be disabled under nearly all 
# imaginable circumstances in production.

use_dst_blacklist=off

##
# User ID under which Kamailio will run (via suid).

user="root"

##
# User agent header to send in scenarios where Kamailio behaves as UAC
# or UAS.

user_agent_header="DYL.com SIP Proxy"

##
# Working directory.

workdir="/usr/local/etc/kamailio"

########## -- Preprocessor definitions for specific features -- ##########

# Prepend a ! to these and remove the intervening space in order to
# enable, e.g. transform
#
#   # define WITH_FEATURE
# to
#   #!define WITH_FEATURE

##
# Enable interactive RPC-based config script debugger.  
#
# This should be disabled by default unless pursuing a problem.

# define WITH_ONLINE_DEBUGGER

##
# Use multiple logical domains (domain module) instead of the composite
# 'myself' keyword.

#!define WITH_LOGICAL_DOMAINS

##
# Use a database backend module of some description.   Specifics are in
# config_params.k

#!define WITH_DB

## 
# Load, configure and use all the modules relevant to registration.

#!define WITH_REGISTRAR

##
# Use digest authentication where possible (WWW-Authorize registrar, 
# Proxy-Challenge in INVITE_OUTBOUND_HANDLER, etc.).

#!define WITH_DIGEST_AUTH

##
# Enable dialog tracking via the dialog module.  The dialog
# module allows the proxy to become call (dialog)-stateful as opposed to
# merely transaction-stateful, and includes the notion of "profiles" to
# classify (hash) calls according to certain parameters so that they 
# can be counted later.  This is mainly useful to create per-account ID
# concurrent call limits and things of that nature.  It is also required
# for some vendor-related channel limit management features (see below).
# 
# Note that dialog _tracking_ is not the same thing as concurrent channel
# limit enforcement, or any specific application of the dialog module.
# See feature_cfg/dialog_tracking.k for related settings.

#!define WITH_DIALOG_TRACKING

##
# Use rtpproxy to proxy media.  If this option is set, the 'proxy_media'
# columns on the customer and vendor side of call processing will be 
# checked.  If either one is set to true, media will be relayed through
# rtpproxy.
# 
# The PROXY_MEDIA flag indicates whether rtpproxy should be used on 
# this transaction.  PROXY_MEDIA_SET indicates that rtpproxy was 
# already invoked and does not need to be invoked again.

# define WITH_RTPPROXY

#!ifdef WITH_RTPPROXY
flags
	PROXY_MEDIA	: 9,
	PROXY_MEDIA_SET	: 10;
#!endif

#!define FLB_IPV6 8
#!define FLB_MOBILE_APP 9
#
########## -- Module-related inclusions -- ##########

# -- INCLUDE - List of modules to be loaded: modules.k -- #

include_file "modules.k"

########## -- Feature configurations -- ##########

# -- INCLUDE - Feature configuration for dialog tracking -- #

#!ifdef WITH_DIALOG_TRACKING
include_file "feature_cfg/dialog_tracking.k"
#!endif


########## -- Included routes -- ##########

# -- INCLUDE - Main request route -- #
include_file "routes/main_request.k"

# -- INCLUDE - Main reply route -- #
include_file "routes/main_reply.k"

# -- INCLUDE - Failure route -- #
include_file "routes/notify_reboot.k"

# -- INCLUDE - Default stateless reply route -- #
include_file "routes/sl_reply.k"

# -- INCLUDE - Basic INVITE directional resolver route -- #
include_file "routes/invite_resolver.k"

# -- INCLUDE - Generic inbound INVITE handler -- #
include_file "routes/invite_inbound_handler.k"

# -- INCLUDE - Generic outbound INVITE handler -- #
include_file "routes/invite_outbound_handler.k"

# -- INCLUDE - Dispatcher rollover -- #
include_file "routes/dispatcher_initial.k"
include_file "routes/dispatcher_rollover.k"

# -- INCLUDE - Registration route (if registrar enabled) -- #
#!ifdef WITH_REGISTRAR
include_file "routes/register_handler.k"
include_file "routes/registrar_lookup.k"
#!endif

# -- INCLUDE - DYL routes -- #
include_file "routes/push_notify.k"

########## -- DYL proxy list -- ##########

route[PROXY_LIST] {
{% for host in groups['registrar_hosts'] %}
	$avp(proxylist) = "{{ dyl_hosts[host].public_ip }}";
{% endfor %}
}

# -- INCLUDE - outbound 407 proxy challenge authentication route (if -- #
# digest authentication is enabled.                                  -- #

#!ifdef WITH_DIGEST_AUTH
include_file "routes/proxy_auth_outbound.k"
#!endif 

