[server:default]
method = TLSv1
verify_certificate = no
require_certificate = no
private_key = {{ kamailio_tls_path }}/{{ kamailio_tls_key }}
certificate = {{ kamailio_tls_path }}/{{ kamailio_tls_cert }}

[client:default]
verify_certificate = yes
require_certificate = yes

