{% for host in groups['freeswitch_pbx'] %}
/var/lib/freeswitch/voicemail {{ dyl_hosts[host].private_ip }}(rw,insecure,all_squash,async,anonuid={{ freeswitch_uid.stdout }},anongid={{ freeswitch_gid.stdout }})
{% endfor %}

{% for host in groups['freeswitch_pbx'] %}
/usr/pbx_files {{ dyl_hosts[host].private_ip }}(rw,insecure,all_squash,async,anonuid={{ freeswitch_uid.stdout }},anongid={{ freeswitch_gid.stdout }})
{% endfor %}

