# rsyslog v5 configuration file

# For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
# If you experience problems, see http://www.rsyslog.com/doc/troubleshoot.html

#### MODULES ####

$ModLoad imuxsock # provides support for local system logging (e.g. via logger command)
$ModLoad imklog   # provides kernel logging support (previously done by rklogd)
#$ModLoad immark  # provides --MARK-- message capability
$ModLoad ommysql.so

# Provides UDP syslog reception
#$ModLoad imudp
#$UDPServerRun 514

# Provides TCP syslog reception
{% if rsyslog_server is defined and rsyslog_server %}
$ModLoad imtcp
$InputTCPServerRun 514
{% endif %}

#### GLOBAL DIRECTIVES ####

# Use default timestamp format
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# File syncing capability is disabled by default. This feature is usually not required,
# not useful and an extreme performance hit
#$ActionFileEnableSync on

# Include all config files in /etc/rsyslog.d/
$IncludeConfig /etc/rsyslog.d/*.conf

#### RATE LIMITS ####

$SystemLogRateLimitInterval 2
$SystemLogRateLimitBurst 3000

#### RULES ####

## @@ - tcp, @ - udp

{% if rsyslog_host is defined and rsyslog_host %}
mail.*  @@{{ rsyslog_host }}
local0.*  @@{{ rsyslog_host }}
local1.*  @@{{ rsyslog_host }}
{% else %}
{% if rsyslog_file is defined and rsyslog_file %}
mail.*  /var/log/maillog
local0.*  /var/log/messages
local1.*  /var/log/messages
{% else %}
mail.*  :ommysql:localhost,syslog,syslog,{{ rsyslog_mysql_password }}
local0.*  :ommysql:localhost,syslog,syslog,{{ rsyslog_mysql_password }}
local1.*  :ommysql:localhost,syslog,syslog,{{ rsyslog_mysql_password }}
{% endif %}
{% endif %}

{% if rsyslog_remote is defined and rsyslog_remote %}
{% if rsyslog_remote == "x1-sip" %}
$DefaultNetstreamDriverCAFile /usr/local/etc/rsyslog-ca.pem
$DefaultNetstreamDriver gtls
$ActionSendStreamDriverMode 1
$ActionSendStreamDriverAuthMode anon

kern.*                                                            @@(o)x1.dyl.com:10514
*.info;mail.none;authpriv.none;cron.none;local0.none;local1.none  @@(o)x1.dyl.com:10514
authpriv.*                                                        @@(o)x1.dyl.com:10514
local7.*                                                          @@(o)x1.dyl.com:10514
mail.*                                                            @@(o)x1.dyl.com:10514
*.emerg                                                           @@(o)x1.dyl.com:10514
{% endif %}
{% endif %}

# Log all kernel messages to the console.
# Logging much else clutters up the screen.
#kern.*                                                 /dev/console

# Log anything (except mail) of level info or higher.
# Don't log private authentication messages!
*.info;mail.none;authpriv.none;cron.none;local0.none;local1.none    /var/log/messages

# The authpriv file has restricted access.
authpriv.*                                              /var/log/secure

# Log all the mail messages in one place.
#
### Log mail messages to database
### mail.*                                                  -/var/log/maillog

# Log cron stuff
cron.*                                                  /var/log/cron

# Everybody gets emergency messages
*.emerg                                                 *

# Save news errors of level crit and higher in a special file.
uucp,news.crit                                          /var/log/spooler

# Save boot messages also to boot.log
local7.*                                                /var/log/boot.log


# ### begin forwarding rule ###
# The statement between the begin ... end define a SINGLE forwarding
# rule. They belong together, do NOT split them. If you create multiple
# forwarding rules, duplicate the whole block!
# Remote Logging (we use TCP for reliable delivery)
#
# An on-disk queue is created for this action. If the remote host is
# down, messages are spooled to disk and sent when it is up again.
#$WorkDirectory /var/lib/rsyslog # where to place spool files
#$ActionQueueFileName fwdRule1 # unique name prefix for spool files
#$ActionQueueMaxDiskSpace 1g   # 1gb space limit (use as much as possible)
#$ActionQueueSaveOnShutdown on # save messages to disk on shutdown
#$ActionQueueType LinkedList   # run asynchronously
#$ActionResumeRetryCount -1    # infinite retries if host is down
# remote host is: name/ip:port, e.g. 192.168.0.1:514, port optional
#*.* @@remote-host:514
# ### end of the forwarding rule ###
