# {{ ansible_managed }}

NameVirtualHost {{ piwik_host }}:80
<VirtualHost {{ piwik_host }}:80>
	ServerName {{ piwik_host }}
	ServerAdmin admin@dyl.com
	ErrorLog /var/log/httpd/piwik_err.log
	CustomLog /var/log/httpd/piwik.log combined
	DocumentRoot /usr/local/piwik
	RewriteEngine on
	RewriteRule ^/$ https://{{ piwik_host }}/ [L,R]
	RewriteRule ^/index.php$ https://{{ piwik_host }}/ [L,R]
	<Directory "/usr/local/piwik">
		Order allow,deny
		Allow from all
	</Directory>
</VirtualHost>

# SSL

LoadModule ssl_module modules/mod_ssl.so
Listen 443
SSLPassPhraseDialog  builtin
SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300
SSLMutex default
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin

NameVirtualHost {{ piwik_host }}:443
<VirtualHost {{ piwik_host }}:443>
	ServerName {{ piwik_host }}
	ServerAdmin admin@dyl.com
	ErrorLog /var/log/httpd/piwik_err.log
	CustomLog /var/log/httpd/piwik.log combined
	DocumentRoot /usr/local/piwik
	SSLEngine on
	SSLProtocol all -SSLv2
	SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
	SSLCertificateFile {{ piwik_ssl_cert }}
	SSLCertificateKeyFile {{ piwik_ssl_key }}
	SSLCertificateChainFile {{ piwik_ssl_chain }}
	SetEnvIf User-Agent ".*MSIE.*" \
		 nokeepalive ssl-unclean-shutdown \
		 downgrade-1.0 force-response-1.0

	<Directory "/usr/local/piwik">
		Order allow,deny
		Allow from all
	</Directory>
</VirtualHost>

