group = core
log-file = /var/log/mbuni/mmsbox.log
access-log = /var/log/mbuni/mmsbox-access.log
log-level = 1

group = mbuni
storage-directory = /var/spool/mbuni
max-send-threads = 5
maximum-send-attempts = 5
default-message-expiry = 360000
queue-run-interval = 5
send-attempt-back-off = 300
sendmms-port = 10001

group = mmsc
id = local
type = soap
mmsc-url = http://dylmmsc:{{ mbuni_password_2 }}@localhost:8192/soap
incoming-username = dylvasp
incoming-password = {{ mbuni_password_3 }}
incoming-port = 12345
maximum-request-size=10000k

group = mmsc
id = bandwidth
type = soap
mmsc-url = http://dylmmsc:{{ mbuni_password_2 }}@localhost:8194/soap
maximum-request-size=10000k

group = mms-service
name = me
post-url = {{ mbuni_post_url }}
catch-all = true
http-post-parameters = fx=true&images[]=%i&text[]=%t&video[]=%v&smil[]=%s&audio[]=%a&other[]=%o
accept-x-mbuni-headers = true
keyword = dylanykeyword
omit-empty = no
suppress-reply = true
service-code = regular

group = send-mms-user
username = dylsend
password = {{ mbuni_send_password }}

