group = core
log-file = /var/log/mbuni/mmsc-out.log
access-log = /var/log/mbuni/mmsc-out-access.log
log-level = 1

group = mbuni
name = "DYL MMSC Outbound"
hostname = {{ inventory_hostname }}
host-alias = mmsc
#local-prefixes = +1
storage-directory = /tmp/spool-out
max-send-threads = 5
send-mail-prog = /usr/sbin/sendmail -f '%f' '%t'
maximum-send-attempts = 5
mm1-maximum-notify-attempts = 1
default-message-expiry = 360000
max-message-expiry = 720000
mmsc-services = "ALL"
queue-run-interval = 5
mm1-queue-run-interval = 300
send-attempt-back-off = 300
sendsms-url = http://localhost:13013/cgi-bin/sendsms
sendsms-username = dylmmsc
sendsms-password = {{ mbuni_password_1 }}
mms-port = 8193
mm7-port = 8194
email2mms-relay-hosts = "mm4.inphomatch.com;{{ inventory_hostname }}"
content-adaptation = true
notify-unprovisioned = yes
mms-notify-text = "You have received a multimedia message from %S, go to XXX to view it"
mms-notify-unprovisioned-text = "This is a test"
mms-to-email-txt = "This is a multimedia message (HTML suppressed)"
mms-to-email-html = "This is a multimedia message powered by DYL"
mms-to-email-default-subject = "This is a multimedia message"
mms-message-too-large-txt = "You have received a multimedia message from %S that is too large for your phone. Go to xxx to view it"

group = mmsproxy
name = "Bandwidth1"
host = {{ mbuni_outbound_mmsc }}
allowed-prefix = "+1"

group = mms-vasp
vasp-id = dylvasp
type = soap
short-codes = "*"
vasp-username = dylmmsc
vasp-password = {{ mbuni_password_2 }}
vasp-url = http://dylvasp:{{ mbuni_password_3 }}@localhost:12345/

