user  nginx;
worker_processes  4;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  8192;
}

http {
	include /etc/nginx/mime.types;
    default_type application/octet-stream;

	proxy_ssl_session_reuse on;

	client_body_in_file_only clean;
	client_body_buffer_size 32K;

	client_max_body_size 300M;

	sendfile on;
	send_timeout 20m;
	proxy_read_timeout 20m;

	gzip on;

    log_format upstream_time '[$time_local] $remote_addr | $upstream_response_time | $upstream_addr | '
                             '"$request" $status $body_bytes_sent '
                             '"$http_referer" "$http_user_agent" ';

	access_log /var/log/nginx/access.log upstream_time;

	map $http_upgrade $connection_upgrade {
		default upgrade;
		'' close;
	}

	upstream http_server {
{% for item in nginx_www_hosts %}
		server {{ dyl_hosts[item].private_ip }}:80;
{% endfor %}
	}
    
    upstream mobile_app_temp_server {
{% for item in nginx_www_app_temp_hosts %}
        server {{ dyl_hosts[item].private_ip }}:80;
{% endfor %}
    }

	upstream https_server {
{% for item in nginx_www_hosts %}
		server {{ dyl_hosts[item].private_ip }}:443;
{% endfor %}
	}

	upstream meteor_server {
		server {{ dyl_hosts[nginx_meteor_host].private_ip }}:4670;
	}

	upstream chat_server {
		server {{ dyl_hosts[nginx_chat_host].private_ip }}:5280;
	}

    upstream chat-ws-server {
        server {{ dyl_hosts[nginx_chat_host].private_ip }}:7070;
    }

{% if nginx_ws_hosts is defined and nginx_ws_hosts %}
	upstream websocket {
{% for item in nginx_ws_hosts %}
		server {{ dyl_hosts[item.host].private_ip }}:{{ item.port }};
{% endfor %}
	}
{% endif %}

###
# DYL.com website
###
	server {
		listen 80;
		server_name {{ dyl_host_www }};

		location / {
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_www }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 0;
		}
	}
	server {
		listen 443 ssl;
		server_name {{ dyl_host_www }};

		ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_certificate {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_cert }};
        ssl_certificate_key {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_key }};
        ssl_verify_client off;
        ssl_protocols TLSv1.1 TLSv1.2;
        ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES';
        ssl_prefer_server_ciphers on;
		ssl_dhparam /etc/ssl/dhparams.pem;

		location / {
			proxy_pass http://http_server;
            if ($http_user_agent ~ ab561701fa0b3371b742bad55acf1068e0079c  ) { proxy_pass http://mobile_app_temp_server; }
			proxy_set_header Host {{ dyl_host_www }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 1;
		}
	}

###
# my.dyl.com application
###
	server {
		listen 80;
		server_name {{ dyl_host_user }};

		location / {
            if ($http_user_agent ~ ab561701fa0b3371b742bad55acf1068e0079c  ) { proxy_pass http://mobile_app_temp_server; }
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_user }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 0;
		}
	}
	server {
		listen 443 ssl;
		server_name {{ dyl_host_user }};

		ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_certificate {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_cert }};
        ssl_certificate_key {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_key }};
        ssl_verify_client off;
        ssl_protocols TLSv1.1 TLSv1.2;
        ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES';
        ssl_prefer_server_ciphers on;
		ssl_dhparam /etc/ssl/dhparams.pem;

		location /meteor.js {
			proxy_pass http://meteor_server;
			proxy_buffering off;
			proxy_read_timeout 1h;
		}
		location /push/ {
			proxy_pass http://meteor_server;
			proxy_buffering off;
			proxy_read_timeout 1h;
		}
		location /poll.html {
			proxy_pass http://meteor_server;
			proxy_buffering off;
			proxy_read_timeout 1h;
		}
		location /stream.html {
			proxy_pass http://meteor_server;
			proxy_buffering off;
			proxy_read_timeout 1h;
		}

		location /http-bind/ {
			proxy_pass http://chat_server;
			proxy_buffering off;
			proxy_read_timeout 1h;
		}

		location /img/user/ {
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_user }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 1;
		}

		location /img/ {
			root /usr/share/nginx/html;
			add_header X-Content-Type-Options "nosniff";
			add_header X-XSS-Protection "1; mode=block";
		}

		location /ext/ {
			root /usr/share/nginx/html;
			add_header X-Content-Type-Options "nosniff";
			add_header X-XSS-Protection "1; mode=block";
		}

		location / {
            if ($http_user_agent ~ ab561701fa0b3371b742bad55acf1068e0079c  ) { proxy_pass http://mobile_app_temp_server; }
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_user }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 1;
		}
	}

{% if dyl_host_prev is defined and dyl_host_prev %}
###
# Previous Host: {{ dyl_host_prev }}
###
	server {
		listen 80;
		server_name {{ dyl_host_prev }};

		location / {
            if ($http_user_agent ~ ab561701fa0b3371b742bad55acf1068e0079c  ) { proxy_pass http://mobile_app_temp_server; }
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_prev }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 0;
		}
	}
	server {
		listen 443 ssl;
		server_name {{ dyl_host_prev }};

		ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_certificate {{ nginx_ssl_path }}/{{ nginx_ssl_prev_cert }};
        ssl_certificate_key {{ nginx_ssl_path }}/{{ nginx_ssl_prev_key }};
        ssl_verify_client off;
        ssl_protocols TLSv1.1 TLSv1.2;
        ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES';
        ssl_prefer_server_ciphers on;
		ssl_dhparam /etc/ssl/dhparams.pem;

		location / {
            if ($http_user_agent ~ ab561701fa0b3371b742bad55acf1068e0079c  ) { proxy_pass http://mobile_app_temp_server; }
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_prev }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 1;
		}
	}
{% endif %}

{% if dyl_host_leads is defined and dyl_host_leads %}
###
# Leads Host: {{ dyl_host_leads }}
###
	server {
		listen 80;
		server_name {{ dyl_host_leads }};

		location / {
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_leads }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 0;
		}
	}
	server {
		listen 443 ssl;
		server_name {{ dyl_host_leads }};

		ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_certificate {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_cert }};
        ssl_certificate_key {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_key }};
        ssl_verify_client off;
        ssl_protocols TLSv1.1 TLSv1.2;
        ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES';
        ssl_prefer_server_ciphers on;
		ssl_dhparam /etc/ssl/dhparams.pem;

		location / {
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_leads }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 1;
		}
	}
{% endif %}

{% if dyl_host_agents is defined and dyl_host_agents %}
###
# 3rd Party -> Agent Posting: {{ dyl_host_agents }}
###
	server {
		listen 80;
		server_name {{ dyl_host_agents }};

		location / {
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_agents }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 0;
		}
	}
	server {
		listen 443 ssl;
		server_name {{ dyl_host_agents }};

		ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_certificate {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_cert }};
        ssl_certificate_key {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_key }};
        ssl_verify_client off;
        ssl_protocols TLSv1.1 TLSv1.2;
        ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES';
        ssl_prefer_server_ciphers on;
		ssl_dhparam /etc/ssl/dhparams.pem;

		location / {
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_agents }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 1;
		}
	}
{% endif %}

###
# sales.dyl.com
###
	server {
		listen 80;
		server_name {{ dyl_host_sales }};

		location / {
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_sales }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 0;
		}
	}
	server {
		listen 443 ssl;
		server_name {{ dyl_host_sales }};

		ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_certificate {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_cert }};
        ssl_certificate_key {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_key }};
        ssl_verify_client off;
        ssl_protocols TLSv1.1 TLSv1.2;
        ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES';
        ssl_prefer_server_ciphers on;
		ssl_dhparam /etc/ssl/dhparams.pem;

		location / {
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_sales }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 1;
		}

		location /http-bind/ {
			proxy_pass http://chat_server;
			proxy_buffering off;
			proxy_read_timeout 1h;
		}

	}

###
# ws for chat
###

    server {
        listen 7443 ssl;
        server_name {{ dyl_host_user }};

        ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_certificate {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_cert }};
        ssl_certificate_key {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_key }};
        ssl_verify_client off;
        ssl_protocols TLSv1.1 TLSv1.2;
        ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES';
        ssl_prefer_server_ciphers on;
        ssl_dhparam /etc/ssl/dhparams.pem;  

        location /ws/ {
            proxy_pass http://chat-ws-server;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;
        }
    }

    server {
        listen 7443 ssl;
        server_name {{ dyl_host_sales }};
        
        ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_certificate {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_cert }};
        ssl_certificate_key {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_key }};
        ssl_verify_client off;
        ssl_protocols TLSv1.1 TLSv1.2;
        ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES';
        ssl_prefer_server_ciphers on;
        ssl_dhparam /etc/ssl/dhparams.pem;

        location /ws/ {
            proxy_pass http://chat-ws-server;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection $connection_upgrade;
        }
    }



###
# dylvoip.com
###
	server {
		listen 80;
		server_name {{ dyl_host_prov }};

		location / {
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_prov }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 0;
		}
	}
# TODO: re-enable SSL for dylvoip.com (also HTTPS provisioning)
#	server {
#		listen 443 ssl;
#		server_name {{ dyl_host_prov }};
#
#		ssl_session_cache    shared:SSL:1m;
#        ssl_session_timeout  10m;
#        ssl_certificate {{ nginx_ssl_prov_cert }};
#        ssl_certificate_key {{ nginx_ssl_prov_key }};
#        ssl_verify_client off;
#        ssl_protocols TLSv1.1 TLSv1.2;
#        ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES';
#        ssl_prefer_server_ciphers on;
#		ssl_dhparam /etc/ssl/dhparams.pem;
#
#		location / {
#			proxy_pass http://http_server;
#			proxy_set_header Host {{ dyl_host_prov }};
#			proxy_set_header X-Forwarded-For $remote_addr;
#			proxy_set_header X-HTTPS 1;
#		}
#	}
{% if dyl_host_mail is defined and dyl_host_mail != dyl_host_user %}
###
# drip email static assets
###
	server {
		listen 80;
		server_name {{ dyl_host_mail }};

		location / {
			proxy_pass http://http_server;
			proxy_set_header Host {{ dyl_host_mail }};
			proxy_set_header X-Forwarded-For $remote_addr;
			proxy_set_header X-HTTPS 0;
		}
	}
{% endif %}
{% if nginx_ws_hosts is defined and nginx_ws_hosts %}
###
# websocket
###
	server {
		listen 8091 ssl;

		server_name {{ dyl_ws_domain }};

		ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  10m;
        ssl_certificate {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_cert }};
        ssl_certificate_key {{ nginx_ssl_path }}/{{ nginx_ssl_dyl_key }};
        ssl_verify_client off;
        ssl_protocols TLSv1.1 TLSv1.2;
        ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!3DES';
        ssl_prefer_server_ciphers on;
		ssl_dhparam /etc/ssl/dhparams.pem;

		location / {
			proxy_pass http://websocket;
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection $connection_upgrade;
		}
	}
{% endif %}

}

