{
	"hostname" : "{{ ansible_fqdn }}",
	"ip_addr" : "{{ansible_default_ipv4}}",
	"rec_host" : "{{ freeswitch_rec_host }}",
	"rabbitmq" : {
		"host" : "{{ rabbitmq_host }}",
		"user" : "{{ rabbitmq_username }}",
		"password" : "{{ rabbitmq_password }}"
	},
	"mysql" : {
		"host" : "{{ freeswitch_db_host }}:{{ freeswitch_db_port }}",
		"database" : "{{ freeswitch_db_database }}",
		"user" : "{{ freeswitch_db_user }}",
		"password" : "{{ freeswitch_db_password }}"
	},
	"aws" : {
		"aws_access_key_id" : "{{ dyl_aws_access_key }}",
		"aws_secret_access_key" : "{{ dyl_aws_secret }}",
		"bucket" : "{{ dyl_aws_bucket }}",
		"env" : "{{ dyl_aws_environment }}"
	},
	"redis" : {
		"host" : "{{ freeswitch_redis_host }}",
		"port" : "{{ freeswitch_redis_port }}"
	},
	"dyl_domain" : "{{ dyl_domain }}",
	"pbx" : "{% if freeswitch_pbx_only is defined %}1{% endif %}",
	"call_router_url" : "{{ dyl_call_router_url }}",
	"cell_lookup_url" : "{{ dyl_cell_lookup_url }}",
	"spy_uuid_url" : "{{ dyl_spy_uuid_url }}"
}
