<configuration name="distributor.conf" description="Distributor Configuration">
  <lists>
    <!-- every 10 calls to test you will get foo1 once and foo2 9 times...yes NINE TIMES! -->
    <!-- this is not the same as 100 with 10 and 90 that would do foo1 10 times in a row then foo2 90 times in a row -->
    <list name="dylphones" total-weight="{{ groups['registrar_hosts']|length }}">
{% for host in groups['registrar_hosts'] %}
      <node name="{{ dyl_hosts[host].public_ip }}" weight="1"/>
{% endfor %}
    </list>
  </lists>
</configuration>
