{% if freeswitch_primary is defined %}{% else %}
/var/lib/freeswitch/voicemail {% for host in groups['freeswitch_pbx'] %} {{ dyl_hosts[host].private_ip }}(rw,insecure,all_squash,async,anonuid={{ freeswitch_uid.stdout }},anongid={{ freeswitch_gid.stdout }}){% endfor %}

/usr/pbx_files {% for host in groups['freeswitch_pbx'] %} {{ dyl_hosts[host].private_ip }}(rw,insecure,all_squash,async,anonuid={{ freeswitch_uid.stdout }},anongid={{ freeswitch_gid.stdout }}){% endfor %}
{% endif %}

/usr/recordings {{ dyl_hosts[freeswitch_rec_host].private_ip }}(rw,insecure,all_squash,async,anonuid={{ freeswitch_uid.stdout }},anongid={{ freeswitch_gid.stdout }})

