{
	"hostname" : "{{ ansible_fqdn }}",
	"mysql" : {
		"host" : "{{ freeswitch_cdr_host }}",
		"database" : "{{ freeswitch_cdr_database }}",
		"user" : "{{ freeswitch_cdr_user }}",
		"password" : "{{ freeswitch_cdr_password }}"
	}
}
