[default]
; Put me in /etc/fs_cli.conf or ~/.fs_cli_conf
;overide any default options here
loglevel => 7
log-uuid => false
quiet => false
;key_f1 => help
;key_f2 => status
;key_f3 => show channels
;key_f4 => show calls
;key_f5 => sofia status
;key_f6 => reloadxml
;key_f7 => /log console
;key_f8 => /log debug
;key_f9 => sofia status profile internal
;key_f10 => sofia global siptrace on
;key_f11 => sofia global siptrace off
;key_f12 => version
host     => 127.0.0.1
port     => 8021
password => {{ esl_password }}
