<include>
	<gateway name="lcr1">
		<param name="username" value="none"/>
		<param name="password" value="none"/>
		<param name="realm" value="lcr1-{{ cluster_domain }}"/>
		<param name="proxy" value="lcr1-{{ cluster_domain }}"/>
		<param name="expire-seconds" value="800"/>
		<param name="register" value="false"/>
		<param name="retry-seconds" value="60"/>
		<param name="context" value="public"/>
		<param name="caller-id-in-from" value="true"/>
	</gateway>
</include>
