#!/usr/bin/perl
use strict;
use warnings;

use LWP::UserAgent;
use MIME::Base64 'encode_base64';
use Storable 'nfreeze';

my $url = '{{ freeswitch_vm_url }}';

$/ = undef;
my $mail = <STDIN>;
my $lwp = new LWP::UserAgent();
my $dv = encode_base64(nfreeze(\$mail));
$lwp->post($url, {
    'data' => $dv,
});

