<extension name="line_{{ item }}">
    <condition field="context" expression="public"/>
    <condition field="destination_number" expression="^{{ item }}$">
        <action application="answer"/>
        <action application="perl" data="/usr/share/freeswitch/scripts/ivrsetup.pl"/>
    </condition>
</extension>
