<configuration name="logfile.conf" description="File Logging">
	<settings>
		<!-- true to auto rotate on HUP, false to open/close -->
		<param name="rotate-on-hup" value="false"/>
	</settings>
	<profiles>
		<profile name="default">
			<settings>
				<!-- File to log to -->
				<!--<param name="logfile" value="/var/log/freeswitch.log"/>-->
				<!-- At this length in bytes rotate the log file (0 for never) -->
				<param name="rollover" value="20485760"/>
				<!-- Uncomment to prefix all log lines by the session's uuid  -->
				<param name="uuid" value="true"/>
			</settings>
			<mappings>
				<!-- 
				name can be a file name, function name or 'all' 
				value is one or more of debug,info,notice,warning,err,crit,alert,all
				Please see comments in console.conf.xml for more information
				-->
				{% if staging is defined %}
					<!-- Staging -->
					<map name="all" value="debug,info,notice,warning,err,crit,alert"/>
				{% else %}
					{% if freeswitch_debug is defined %}
					<!-- Debug -->
					<map name="all" value="debug,info,notice,warning,err,crit,alert"/>
					{% else %}
					<!-- Run -->
					{% if freeswitch_pbx_only is defined %}
					<map name="all" value="info,warning,err,crit,alert"/>
					{% else %}
					<map name="all" value="info,notice,warning,err,crit,alert"/>
					{% endif %}
					{% endif %}
				{% endif %}
			</mappings>
		</profile>
	</profiles>
</configuration>
