[fs_mysql_1]
SERVER		= {{ freeswitch_db_host }}
PORT		= {{ freeswitch_db_port | default(3306) }}
DATABASE	= {{ freeswitch_db_database }}
OPTION		= 67108864
DRIVER		= /usr/lib64/libmyodbc5.so
THREADING       = 0

{% if callcenter_db_database is defined %}
[fs_mysql_2]
SERVER		= {% if callcenter_db_host is defined %}{{ callcenter_db_host }}{% else %}{{ freeswitch_db_host }}{% endif %}

PORT		= {% if callcenter_db_port is defined %}{{ callcenter_db_port }}{% else %}{{ freeswitch_db_port | default(3306) }}{% endif %}

DATABASE	= {{ callcenter_db_database }}
OPTION		= 67108864
DRIVER		= /usr/lib64/libmyodbc5.so
THREADING       = 0
{% endif %}

