<configuration name="syslog.conf" description="Syslog Logger">
	<!-- SYSLOG -->
	<!-- emerg   - system is unusable  -->
	<!-- alert   - action must be taken immediately  -->
	<!-- crit    - critical conditions  -->
	<!-- err     - error conditions  -->
	<!-- warning - warning conditions  -->
	<!-- notice  - normal, but significant, condition  -->
	<!-- info    - informational message  -->
	<!-- debug   - debug-level message -->
	<settings>
		<param name="facility" value="local1"/>
		<param name="ident" value="freeswitch"/>
		{% if freeswitch_pbx_only is defined %}
		<param name="loglevel" value="alert"/>
		{% else %}
		<param name="loglevel" value="info"/>
		{% endif %}
		<!-- Uncomment the following line to log uuids in syslogs (when applicable) -->
		<param name="uuid" value="true"/>
	</settings>
</configuration>
