CHECK PROCESS "dyl_hud_ws_{{ item }}" MATCH "dyl_hud_ws.pl {{ item }}$"
    start program = "/usr/bin/perl /home/note/cyber/scripts/server/dyl_hud_ws.pl {{ item }} &" as uid "note" and gid "note" with timeout 10 seconds
    IF NOT EXIST then restart
