# {{ ansible_managed }}
# Core Configuration
group = core
admin-port = 13000
smsbox-port = 13001
admin-password = {{ kannel_admin_pass }}
log-file = "/var/log/kannel/core.log"
log-level = 1

# SMS Box Configuration
group = smsbox
bearerbox-host = 127.0.0.1
sendsms-port = 13013
sendsms-chars = "0123456789 +-"
log-file = "/var/log/kannel/smsbox.log"
smsbox-id = box1
log-level = 1

# Updated routing
group = smsc
smsc = smpp
smsc-id = smscbook
host = {{ kannel_remote_ip }}
port = {{ kannel_remote_port }} 
smsc-username = {{ kannel_remote_user }}
smsc-password = {{ kannel_remote_pass }}
system-type = "SMPP"
allowed-smsc-id = smscsmsc
transceiver-mode = true
reroute = 1
reroute-smsc-id = http

group = smsc
smsc = http
system-type = kannel
smsc-id = HTTP
port = 13003
smsc-username = {{ kannel_internal_user }}
smsc-password = {{ kannel_internal_pass }}
send-url = "{{ kannel_send_url }}"
status-success-regex = "ok"
status-permfail-regex = "failure"
status-tempfail-regex = "retry later"
connect-allow-ip = {{ kannel_allow_ip }}
allowed-smsc-id = smscbook

group = sendsms-user
username = {{ kannel_internal_user }}
password = {{ kannel_internal_pass }}
default-sender = +18883104474
concatenation = true
max-messages = 500

group = smsbox-route
smsbox-id = box1
smsc-id = smscbook

group = sms-service
keyword = default
text = "No service specified"

