<VirtualHost *:80>
    ServerName www.{{ hostname }}
    ServerAlias {{ hostname }}
    DocumentRoot /var/www/{{ hostname }}/public_html
    ErrorLog /var/www/{{ hostname }}/error.log
    CustomLog /var/www/{{ hostname }}/requests.log combined

PerlSwitches -I/lib64/perl5
	RewriteEngine on
	RewriteRule (^/.*\.(:?gif|png|jpg|swf|ico|mov|mp3|pdf|js|css|ttf|woff|)$) $1 [PT]
	RewriteRule (.*) /www$1 [PT]
	
	<Location /www/>
	        SetHandler perl-script
	        PerlOptions +ParseHeaders
	        PerlResponseHandler Cyber::Site
	</Location>

</VirtualHost>
