#!/usr/bin/perl -w
use strict;
use DBI;

#check for 2 arguments
if ($#ARGV != 1) {
	print qq(fail,noarguments);
	exit;
}

#Connect to Database
# Ansible j2 template params
my $data_source = q/DBI:mysql:database={{ lcr_db_name }};host={{ lcr_db_host }}/;
my $user = q/{{ lcr_db_user }}/;
my $password = q/{{ lcr_db_password }}/;
my $dbh = DBI->connect($data_source, $user, $password) or die qq(fail);

$ARGV[0] =~ s/^\+//;
if (length($ARGV[0]) == 10)
{
	$ARGV[0] = '1'. $ARGV[0];
}
$ARGV[1] =~ s/^\+//;
if (length($ARGV[1]) == 10)
{
	$ARGV[1] = '1'. $ARGV[1];
}

my $sql = "call check_intra('$ARGV[0]','$ARGV[1]')";
my $sth = $dbh->prepare($sql) or die qq(fail);
$sth->execute();

my $intra = "";
while ( my $row = $sth->fetchrow_arrayref() ) {
	my ($intra1, $intra2) = @$row;
	$intra = $intra1;
}

$sth->finish();

if ($intra eq "1") {
	$sql = q|select concat(c.dialprefix,?,'@',c.peername), r.carrierid, r.intrarate from rates r inner join carrier c on r.carrierid=c.carrierid where r.prefix in (?, left(?, 7), left(?, 4), '1') and c.routeout = 1 order by length(r.prefix) desc, r.intrarate asc limit 1;|;
} else {
	$sql = q|select concat(c.dialprefix,?,'@',c.peername), r.carrierid, r.interrate from rates r inner join carrier c on r.carrierid=c.carrierid where r.prefix in (?, left(?, 7), left(?, 4), '1') and c.routeout = 1 order by length(r.prefix) desc, r.interrate asc limit 1;|;
}

$sth = $dbh->prepare($sql) or die qq(fail,dberror);
my $num = $ARGV[1];
$sth->execute($num, $num, $num, $num);

my $dialstring = "";
my $carrier = "";
my $rate = "";
while (my $row = $sth->fetchrow_arrayref())
{
	($dialstring, $carrier, $rate) = @$row;
}

$sth->finish();
$dbh->disconnect;

if (length($dialstring) > 5) {
	print "route=$dialstring;carrier=$carrier;rate=$rate";
} else {
	print "fail";
}
