{% for item in lcr_gateways %}
INSERT INTO `carrier` VALUES ({{ item['id'] | default('NULL') }},{{ item['active'] | default(0) }},'{{ item['dialprefix'] }}','{{ item['peername'] }}','{{ item['carrier'] }}','','{{ item['comments'] }}');
{% endfor %}
{% if lcr_rates is defined and lcr_rates %}
{% for item in lcr_rates %}
INSERT INTO `rates` VALUES (NULL, NULL, {{ item['carrier_id'] }}, '{{ item['destination'] }}', '{{ item['prefix'] }}', {{ item['inter_rate'] }}, {{ item['intra_rate'] }});
{% endfor %}
{% endif %}
