-- MySQL dump 10.13  Distrib 5.1.61, for redhat-linux-gnu (x86_64)
--
-- Host: localhost    Database: lcr
-- ------------------------------------------------------
-- Server version	5.1.61

USE {{ lcr_db_name }};

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `carrier`
--

DROP TABLE IF EXISTS `carrier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `carrier` (
  `carrierid` int(11) NOT NULL AUTO_INCREMENT,
  `routeout` smallint(1) NOT NULL DEFAULT '0',
  `dialprefix` varchar(10) NOT NULL DEFAULT '',
  `peername` varchar(25) NOT NULL DEFAULT '',
  `carrier` varchar(20) NOT NULL DEFAULT '',
  `account` varchar(20) NOT NULL DEFAULT '',
  `comments` varchar(255) NOT NULL DEFAULT '',
  PRIMARY KEY (`carrierid`),
  KEY `routeout` (`routeout`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `nanpa`
--

DROP TABLE IF EXISTS `nanpa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nanpa` (
  `State` char(2) NOT NULL DEFAULT '00',
  `NPA_NXX` varchar(7) NOT NULL DEFAULT '000-000',
  `OCN` int(4) DEFAULT NULL,
  `Company` varchar(50) DEFAULT NULL,
  `RateCenter` varchar(100) DEFAULT NULL,
  `Switch` varchar(11) DEFAULT NULL,
  `EffectiveDate` date DEFAULT NULL,
  `Current_Use` char(2) NOT NULL DEFAULT 'UA',
  `AssignDate` date DEFAULT NULL,
  `Initial_Growth` char(1) DEFAULT NULL,
  PRIMARY KEY (`NPA_NXX`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `rates`
--

DROP TABLE IF EXISTS `rates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rates` (
  `ratesid` int(11) NOT NULL AUTO_INCREMENT,
  `created` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `carrierid` int(11) NOT NULL DEFAULT '0',
  `destination` varchar(200) NOT NULL DEFAULT '',
  `prefix` varchar(20) NOT NULL DEFAULT '',
  `interrate` decimal(10,5) NOT NULL DEFAULT '0.00000',
  `intrarate` decimal(10,5) NOT NULL DEFAULT '0.00000',
  PRIMARY KEY (`ratesid`),
  KEY `prefix` (`prefix`),
  KEY `interrate` (`interrate`),
  KEY `intrarate` (`intrarate`),
  KEY `carrierid` (`carrierid`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2014-03-12 17:14:24

DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `get_rate_inter`(callto varchar(32) )
begin
 set @number := trim(leading '011' from callto);
 select interrate, destination, carrierid from rates where (prefix = left(@number, 7)
  or prefix = left(@number, 6)
  or prefix = left(@number, 5)
  or prefix = left(@number, 4)
  or prefix = left(@number, 3)
  or prefix = left(@number, 2)
  or prefix = left(@number, 1))
 order by length(prefix) desc limit 1;
end;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `get_rate_simple`(callto varchar(32) )
begin
 set @number := trim(leading '011' from callto);
 select interrate, destination, carrierid from rates where (prefix = left(@number, 7)
  or prefix = left(@number, 6)
  or prefix = left(@number, 5)
  or prefix = left(@number, 4)
  or prefix = left(@number, 3)
  or prefix = left(@number, 2)
  or prefix = left(@number, 1))
 order by length(prefix) desc limit 1;
end;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `insert_carrier`(
 carriervar varchar(20),
 accountvar varchar(20),
 prefixvar varchar(10),
 peervar varchar(25),
 commentsvar varchar(255)
)
begin
  if exists (select carrierid from carrier where peername = peervar)
  then
    select 'error' as 'result', 'already exists' as 'result';
  else
    insert into carrier (dialprefix, peername, carrier, account, comments)
      values (prefixvar, peervar, carriervar, accountvar, commentsvar);
    SELECT 'good' as 'result', @@IDENTITY as 'result';
  end if;
end;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `update_rate`(
  idvar int,
  destvar varchar(200),
  prefixvar varchar(20),
  interratevar DECIMAL (10,5),
  intraratevar DECIMAL (10,5)
)
begin
  if exists (select ratesid from rates where prefix = prefixvar and carrierid = idvar)
  then
    update rates set created=now(), destination = destvar, interrate = interratevar, intrarate = intraratevar where prefix = prefixvar and carrierid = idvar;
    select "updated" as result;
  else
    insert into rates
      (created, carrierid, destination, prefix, interrate, intrarate)
    values
      (now(),idvar,destvar,prefixvar,interratevar,intraratevar);
    select 'inserted' as result;
  end if;
end;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `check_intra`(
  callfrom varchar(32),
  callto varchar(32)
)
begin
  declare d_calltostate varchar(2);
  declare d_callfromstate varchar(2);
  if left(callto, 3) = '011'
  then
    select '0' as 'result', 'interstate' as 'details';
  else
    if exists (select State from nanpa where NPA_NXX = concat(substring(callto,-10,3),'-',substring(callto,-7,3)))
    then
      select State from nanpa where NPA_NXX = concat(substring(callto,-10,3),'-',substring(callto,-7,3)) into d_calltostate;
      if exists (select State from nanpa where NPA_NXX = concat(substring(callfrom,-10,3),'-',substring(callfrom,-7,3)))
      then
        select State from nanpa where NPA_NXX = concat(substring(callfrom,-10,3),'-',substring(callfrom,-7,3)) into d_callfromstate;
        if d_calltostate = d_callfromstate
        then
          select '1' as 'result', 'intrastate' as 'details';
        else
          select '0' as 'result', 'interstate' as 'details';
        end if;
      else
        select '0' as 'result', 'interstate' as 'details';
      end if;
    else
      select '0' as 'result', 'interstate' as 'details';
    end if;
  end if;
end;;
